{% extends "base.html" %}

{% block main %} 

<div class="container mt-5">
    <h2 class="text-center mb-4">Contrato Digital</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="POST"  enctype="multipart/form-data">
                <!-- Informações Pessoais -->
                <br>
                <div class="border-bottom pb-3 mb-4">
                    <h5 class="mb-3">Informações Pessoais</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Nome Completo:</strong> {{ proposal.name }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Data de Criação:</strong> {{ proposal.created_at.strftime('%d/%m/%Y') }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Email:</strong> {{ proposal.email }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>CPF:</strong> {{ proposal.cpf }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Sexo:</strong> {{ proposal.sex }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Telefone:</strong> {{ proposal.phone }}</p>
                        </div>
                    </div>
                </div>
    
                <!-- Endereço -->
                <div class="border-bottom pb-3 mb-4">
                    <h5 class="mb-3">Endereço</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Endereço:</strong> {{ proposal.address }}</p>
                        </div>
                        <div class="col-md-3">
                            <p><strong>Número:</strong> {{ proposal.address_number }}</p>
                        </div>
                        <div class="col-md-3">
                            <p><strong>CEP:</strong> {{ proposal.zipcode }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Bairro:</strong> {{ proposal.neighborhood }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Cidade:</strong> {{ proposal.city }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Estado:</strong> {{ proposal.state_uf_city }}</p>
                        </div>
                    </div>
                </div>
    
                <!-- Informações Financeiras -->
                <div class="border-bottom pb-3 mb-4">
                    <h5 class="mb-3">Informações Financeiras</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Salário:</strong> {{ proposal.value_salary }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Valor da Operação:</strong> {{ proposal.value_operation }}</p>
                        </div>
                        <div class="col-md-12">
                            <p><strong>Tipo de Operação:</strong> {{ proposal.operation_select }}</p>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="table_id" class="form-label">Tabela Cadastrada:</label>
                        <div class="form-control-plaintext">
                            {% for banker in bankers %}
                                {% for convenio in banker.financial_agreements %}
                                    {% for table in convenio.tables_finance %}
                                        {% if proposal.table_id == table.id %}
                                            <strong>{{ table.name }}</strong> - {{ table.type_table }} - Cod: {{ table.table_code }} - Prazo Início: {{ table.start_term }} - Prazo Fim: {{ table.end_term }} - Comissão: {{ table.rate }}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
    

                <!-- Fotos Relacionadas do contrato -->
                <h5 class="mt-4 mb-3">Imagens Registradas do Contrato:</h5>
                <!-- Modal -->
                <div id="imageModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Visualizar Imagem:</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <img id="expandedImage" src="" alt="Imagem Expandida" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for field, paths in image_paths.items() %}
                        <div class="col-md-6">
                            <h5 class="mt-4 mb-3"><strong>{{ field | replace('_', ' ') }}:</strong></h5>
                            {% for path in paths %}
                                <div class="img-wrapper">
                                    <img src="{{ url_for('proposal.serve_image', filename=path) }}" alt="{{ field }}" class="img-thumbnail" style="max-width: 150px; cursor: pointer;">
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div> 
    
                <!-- Observações -->
                <div class="border-bottom pb-3 mb-4">
                    <h5 class="mb-3">Observações</h5>
                    <p>{{ proposal.obeserve }}</p>
                </div>
                
                <div class="row">
                <!-- Checkboxes de Status -->
                <div class="col-md-6 mb-3">
                    <label for="number_proposals" class="form-label">Número da proposta:</label>
                    <input type="text" class="form-control" id="number_proposal" name="number_proposal" {% if proposal.number_proposal %} value="{{ proposal.number_proposal}}" {%endif %} value="Número da proposta">
                </div>

                <h5 class="mt-4 mb-3">Status da Proposta:</h5>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="aguardando_digitacao" name="aguardando_digitacao" {% if proposal.aguardando_digitacao %}checked{% endif %}>
                    <label class="form-check-label" for="aguardando_digitacao">AGUARDANDO A DIGITAÇÃO</label>
                </div>
                
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="pendente_digitacao" name="pendente_digitacao" {% if proposal.pendente_digitacao %}checked{% endif %}>
                    <label class="form-check-label" for="pendente_digitacao">PENDENTE DIGITAÇÃO</label>
                </div>
                
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="contrato_digitacao" name="contrato_digitacao" {% if proposal.contrato_digitacao %}checked{% endif %}>
                    <label class="form-check-label" for="contrato_digitacao">CONTRATO EM DIGITAÇÃO</label>
                </div>
                
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="aceite_feito_analise_do_banco" name="aceite_feito_analise_do_banco" {% if proposal.aceite_feito_analise_do_banco %}checked{% endif %}>
                    <label class="form-check-label" for="aceite_feito_analise_do_banco">ACEITE FEITO ANALISE DO BANCO</label>
                </div>
                
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="contrato_pendente_pelo_banco" name="contrato_pendente_pelo_banco" {% if proposal.contrato_pendente_pelo_banco %}checked{% endif %}>
                    <label class="form-check-label" for="contrato_pendente_pelo_banco">CONTRATO PENDENTE PELO O BANCO</label>
                </div>
                
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="aguardando_pagamento" name="aguardando_pagamento" {% if proposal.aguardando_pagamento %}checked{% endif %}>
                    <label class="form-check-label" for="aguardando_pagamento">AGUARDANDO O PAGAMENTO</label>
                </div>
                
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="contratopago" name="contratopago" {% if proposal.contratopago %}checked{% endif %}>
                    <label class="form-check-label" for="contratopago">CONTRATO PAGO</label>
                </div>

                <!-- Botões de Ação -->
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-save me-2"></i>Salvar Alterações</button>
                    <a href="{{ url_for('operational.manage_state_contract') }}" class="btn btn-secondary"><i class="bi bi-x-circle me-2"></i>Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Script para habilitar campos -->
<script>
    function enableField(fieldId) {
        const field = document.getElementById(fieldId);
        field.disabled = false;
        field.focus();
    }
</script>

<link href="{{url_for('static', filename='css/opeational/editOperational')}}" rel="stylesheet" >
<script src="{{ url_for('static', filename='js/operational/editOperational.js') }}"></script>
{% endblock %}