{% extends "base.html" %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card text-white bg-primary h-100" data-bs-toggle="modal" data-bs-target="#modalPendenteDigitacao">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-pencil-square"></i> Pendente de Digitação
                    </h5>
                    <p class="card-text">Total: {{ proposal_board.pendente_digitacao }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card text-white bg-warning h-100" data-bs-toggle="modal" data-bs-target="#modalAguardandoDigitacao">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-hourglass-split"></i> Aguardando Digitação
                    </h5>
                    <p class="card-text">Total: {{ proposal_board.aguardando_digitacao }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card text-white bg-info h-100" data-bs-toggle="modal" data-bs-target="#modalContratoEmDigitacao">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-file-earmark-text"></i> Contrato em Digitação
                    </h5>
                    <p class="card-text">Total: {{ proposal_board.contrato_digitacao }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card text-white bg-secondary h-100" data-bs-toggle="modal" data-bs-target="#modalAguardandoAceitedoCliente">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-file-earmark-check"></i> Aguardando Aceite do Cliente
                    </h5>
                    <p class="card-text">Total: {{ proposal_board.aguardando_aceite }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card text-black bg-white h-100" data-bs-toggle="modal" data-bs-target="#modalAceiteAnaliseBanco">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-bank"></i> Aceite em Análise do Banco
                    </h5>
                    <p class="card-text">Total: {{ proposal_board.aceite_analise_banco }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card text-white bg-danger h-100" data-bs-toggle="modal" data-bs-target="#modalContratoPendenteBanco">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-exclamation-circle"></i> Contrato Pendente pelo Banco
                    </h5>
                    <p class="card-text">Total: {{ proposal_board.pendente_banco }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card text-white bg-success h-100" data-bs-toggle="modal" data-bs-target="#modalContratoPago">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-cash-stack"></i> Contrato Pago
                    </h5>
                    <p class="card-text">Total: {{ proposal_board.contratopago }}</p>
                </div>
            </div>
        </div>


        <!-- Modal para Pendente de Digitação -->
        <div class="modal fade" id="modalPendenteDigitacao" tabindex="-1" aria-labelledby="modalPendenteDigitacaoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPendenteDigitacaoLabel">Propostas Pendentes de Digitação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>CPF</th>
                                        <th>Data de Criação</th>
                                        <th>Obeservações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proposal in proposals_pendente_digitacao.items %}
                                        <tr>
                                            <td>{{ proposal.name }}</td>
                                            <td>{{ proposal.cpf }}</td>
                                            <td>{{ proposal.created_at }}</td>
                                            <td>{{ proposal.obeserve }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Links de Paginação -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if proposals_pendente_digitacao.has_prev %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_pendente_digitacao.prev_num) }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page_num in proposals_pendente_digitacao.iter_pages() %}
                                    {% if page_num %}
                                        <li class="page-item {% if page_num == proposals_pendente_digitacao.page %}active{% endif %}">
                                            <a class="page-link" href="{{ url_for('operational.manage_operational', page=page_num) }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if proposals_pendente_digitacao.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_pendente_digitacao.next_num) }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal para Aguardando Digitação -->
        <div class="modal fade" id="modalAguardandoDigitacao" tabindex="-1" aria-labelledby="modalAguardandoDigitacaoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAguardandoDigitacaoLabel">Propostas Aguardando Digitação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>CPF</th>
                                        <th>Data de Criação</th>
                                        <th>Obeservações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proposal in proposals_aguardando_digitacao.items %}
                                        <tr>
                                            <td>{{ proposal.name }}</td>
                                            <td>{{ proposal.cpf }}</td>
                                            <td>{{ proposal.created_at }}</td>
                                            <td>{{ proposal.obeserve }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Links de Paginação -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if proposals_aguardando_digitacao.has_prev %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_aguardando_digitacao.prev_num) }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page_num in proposals_aguardando_digitacao.iter_pages() %}
                                    {% if page_num %}
                                        <li class="page-item {% if page_num == proposals_aguardando_digitacao.page %}active{% endif %}">
                                            <a class="page-link" href="{{ url_for('operational.manage_operational', page=page_num) }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if proposals_aguardando_digitacao.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_aguardando_digitacao.next_num) }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal para Contrato Digitação -->
        <div class="modal fade" id="modalContratoEmDigitacao" tabindex="-1" aria-labelledby="modalContratoEmDigitacaoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalContratoEmDigitacaoLabel">Propostas em Digitação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>CPF</th>
                                        <th>Data de Criação</th>
                                        <th>Obeservações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proposal in proposals_contrato_digitacao.items %}
                                        <tr>
                                            <td>{{ proposal.name }}</td>
                                            <td>{{ proposal.cpf }}</td>
                                            <td>{{ proposal.created_at }}</td>
                                            <td>{{ proposal.obeserve }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Links de Paginação -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if proposals_contrato_digitacao.has_prev %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_contrato_digitacao.prev_num) }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page_num in proposals_contrato_digitacao.iter_pages() %}
                                    {% if page_num %}
                                        <li class="page-item {% if page_num == proposals_contrato_digitacao.page %}active{% endif %}">
                                            <a class="page-link" href="{{ url_for('operational.manage_operational', page=page_num) }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if proposals_contrato_digitacao.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_contrato_digitacao.next_num) }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para Aguardando Aceite do Cliente -->
        <div class="modal fade" id="modalAguardandoAceitedoCliente" tabindex="-1" aria-labelledby="modalAguardandoAceitedoClienteLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAguardandoAceitedoClienteLabel">Propostas Aguardando o Aceite do Cliente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>CPF</th>
                                        <th>Data de Criação</th>
                                        <th>Obeservações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proposal in proposals_aguardando_aceite_do_cliente.items %}
                                        <tr>
                                            <td>{{ proposal.name }}</td>
                                            <td>{{ proposal.cpf }}</td>
                                            <td>{{ proposal.created_at }}</td>
                                            <td>{{ proposal.obeserve }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Links de Paginação -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if proposals_aguardando_aceite_do_cliente.has_prev %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_aguardando_aceite_do_cliente.prev_num) }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page_num in proposals_aguardando_aceite_do_cliente.iter_pages() %}
                                    {% if page_num %}
                                        <li class="page-item {% if page_num == proposals_aguardando_aceite_do_cliente.page %}active{% endif %}">
                                            <a class="page-link" href="{{ url_for('operational.manage_operational', page=page_num) }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if proposals_aguardando_aceite_do_cliente.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_aguardando_aceite_do_cliente.next_num) }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para Aceite Feito em Analise do Banco -->
        <div class="modal fade" id="modalAceiteAnaliseBanco" tabindex="-1" aria-labelledby="modalAceiteAnaliseBancoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAceiteAnaliseBancoLabel">Propostas Com Aceite Feito em Analise do Banco</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>CPF</th>
                                        <th>Data de Criação</th>
                                        <th>Obeservações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proposal in proposals_aceite_feito_analise_do_banco.items %}
                                        <tr>
                                            <td>{{ proposal.name }}</td>
                                            <td>{{ proposal.cpf }}</td>
                                            <td>{{ proposal.created_at }}</td>
                                            <td>{{ proposal.obeserve }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Links de Paginação -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if proposals_aceite_feito_analise_do_banco.has_prev %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_aceite_feito_analise_do_banco.prev_num) }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page_num in proposals_aceite_feito_analise_do_banco.iter_pages() %}
                                    {% if page_num %}
                                        <li class="page-item {% if page_num == proposals_aceite_feito_analise_do_banco.page %}active{% endif %}">
                                            <a class="page-link" href="{{ url_for('operational.manage_operational', page=page_num) }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if proposals_aceite_feito_analise_do_banco.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_aceite_feito_analise_do_banco.next_num) }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal para Contrato Pendente Pelo o Banco -->
        <div class="modal fade" id="modalContratoPendenteBanco" tabindex="-1" aria-labelledby="modalContratoPendenteBancoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalContratoPendenteBancoLabel">Propostas Pendentes Pelo o Banco</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>CPF</th>
                                        <th>Data de Criação</th>
                                        <th>Obeservações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proposal in proposals_contrato_pendente_pelo_banco.items %}
                                        <tr>
                                            <td>{{ proposal.name }}</td>
                                            <td>{{ proposal.cpf }}</td>
                                            <td>{{ proposal.created_at }}</td>
                                            <td>{{ proposal.obeserve }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Links de Paginação -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if proposals_contrato_pendente_pelo_banco.has_prev %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_contrato_pendente_pelo_banco.prev_num) }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page_num in proposals_contrato_pendente_pelo_banco.iter_pages() %}
                                    {% if page_num %}
                                        <li class="page-item {% if page_num == proposals_contrato_pendente_pelo_banco.page %}active{% endif %}">
                                            <a class="page-link" href="{{ url_for('operational.manage_operational', page=page_num) }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if proposals_contrato_pendente_pelo_banco.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_contrato_pendente_pelo_banco.next_num) }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal para Contrato Pago -->
        <div class="modal fade" id="modalContratoPago" tabindex="-1" aria-labelledby="modalContratoPagoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalContratoPagoLabel">Propostas Pagas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>CPF</th>
                                        <th>Data de Criação</th>
                                        <th>Obeservações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proposal in proposals_contratopago.items %}
                                        <tr>
                                            <td>{{ proposal.name }}</td>
                                            <td>{{ proposal.cpf }}</td>
                                            <td>{{ proposal.created_at }}</td>
                                            <td>{{ proposal.obeserve }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Links de Paginação -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if proposals_contratopago.has_prev %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_contratopago.prev_num) }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page_num in proposals_contratopago.iter_pages() %}
                                    {% if page_num %}
                                        <li class="page-item {% if page_num == proposals_contratopago.page %}active{% endif %}">
                                            <a class="page-link" href="{{ url_for('operational.manage_operational', page=page_num) }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if proposals_contratopago.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ url_for('operational.manage_operational', page=proposals_contratopago.next_num) }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
