{% extends "base.html" %}

{% block main %}
<div class="pagetitle">
    <h1>Usuário</h1>
    <nav>

    </nav>
</div>
<section class="section profile">
    <div class="row">
    <div class="col-xl-4">

        <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <!-- Bordered Tabs <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <h2>{{current_user.username}}</h2>
            <h3>{{current_user.type_user_func}}</h3>
        </div>
        </div>

    </div>

    <div class="col-xl-8">

        <div class="card">
        <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
            </li>
            </ul>
            <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">Detalhes do usuário</h5>

                <div class="row">
                <div class="col-lg-3 col-md-4 label ">Nome Completo:</div>
                <div class="col-lg-9 col-md-8">{{current_user.username}} {{current_user.lastname}}</div>
                </div>

                <div class="row">
                <div class="col-lg-3 col-md-4 label">Sala: </div>
                </div>

                <div class="row">
                <div class="col-lg-3 col-md-4 label">Função: </div>
                <div class="col-lg-9 col-md-8">{{current_user.type_user_func}}</div>
                </div>

                <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{current_user.email}}</div>
                </div>

            </div>

            </div><!-- End Bordered Tabs -->
        </div>
        </div>

    </div>
    </div>
</section>

{% endblock %}