{% extends "base.html" %}

{% block main %} 


<section>
    <div>
        <input type="text" id="searchInput" class="form-control" placeholder="Buscar Usuário">
        <br>
    </div>

    <div class="mb-3">
        <label for="type_user_func" class="form-label">Cargo</label>
        <select id="type_user_func" name="type_user_func" class="form-control">
            <option value="Administrador">Administrador</option>
            <option value="Gerente Geral">Gerente Geral</option>
            <option value="Gerente de Vendas">Gerente de vendas</option>
            <option value="Supervisor de Vendas">Supervisor de Vendas</option>
            <option value="Vendedor">Vendedor</option>
            <option value="Operacional">Operacional</option>
            <option value="Financeiro">Financeiro</option>
            <option value="Suporte de Campanha">Suporte de campanha</option>
        </select>
    </div>
    
    <hr>

    <p class="details">Ao selecionar a nova permissão do usuário, clicar <code>Alterar Permissão</code></p>
    <table class="table table-light table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">CPF</th>
                <th scope="col">Cargo</th>
                <th scope="col">Email</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="{{ 'table-danger' if user.is_block else '' }}">
                <td>{{ user.username }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.user_identification }}</td>
                <td>{{ user.type_user_func }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button class="btn btn-primary btn-sm p-1 btn-update-permission" data-user-id="{{ user.id }}">Alterar Permissão</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
        </ul>
    </nav>
</section>


<script src="{{ url_for('static', filename='js/user/SearchUserTablesPermission.js') }}"></script>
<script src="{{ url_for('static', filename='js/user/UserPermission.js') }}"></script>
{% endblock%}