{% extends 'base.html' %}


{% block contentoverview %}
<div class="main-container d-flex">
    <div class="sidebar" id="side_nav">
        <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
            <h1 class="fs-4">
                <span class="bg-white text-dark rounded shadow px-2 me-2">BS</span>
                <span class="text-white">System</span>
            </h1>
            <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="fal fa-stream"></i></button>
        </div>
        <ul class="list-unstyled px-2">
            <li class="active">
                <a href="#" class="text-decoration-none px-3 py-2 d-block" data-target=".dashboard-content"><i class="fal fa-home"></i> Dashboard</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none px-3 py-2 d-block" data-target=".financeiro-content"><i class="fal fa-money-bill-alt"></i> Financeiro</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none px-3 py-2 d-block" data-target=".propostas-content"><i class="fal fa-newspaper"></i></i></i> Propostas</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none px-3 py-2 d-block" data-target=".campanhas-content"><i class="fal fa-mobile-alt"></i></i> Campanhas</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none px-3 py-2 d-block" data-target=".promotores-content">
                    <i class="fal fa-users"></i> Promotores
                </a>
            </li>
            <li>
                <a href="#" class="text-decoration-none px-3 py-2 d-block" data-target=".atendimento-content"><i class="fal fa-phone-volume"></i></i> Atendimento</a>
            </li>
            <hr class="h-color mx-2">
            <li>
                <a href="#" class="text-decoration-none px-3 py-2 d-block" data-target=".bsponto-content"><i class="fal fa-clock"></i></i> BS Ponto</a>
            </li>
            <li>
                <a href="#" class="text-decoration-none px-3 py-2 d-block" data-target=".config-content"><i class="fal fa-cog"></i></i> Configuração</a>
            </li>
            <!-- add functions sidebar -->
        </ul>
        
    </div>
    <div class="content">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <div class="d-flex justify-content-between d-md-none d-block">
                    <button class="btn px-1 py-0 open-btn me-2"><i class="fal fa-stream"></i></button>
                    <a class="navbar-brand fs-4" href="#"><span class="bg-dark rounded px-2 py-0 text-white">BS</span></a>
                </div>
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fal fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login')}}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="dashboard-content content-section px-3 pt-4">
            <h2 class="fs-5">Dashboard</h2>
            <p>Sistema de dashboard dependente do sistema de finanças</p>
        </div>

        <div class="financeiro-content content-section px-3 pt-4" style="display:none;">
            <h2 class="fs-5">Financeiro</h2>
            <p>Detalhes financeiros...</p>
        </div>
        
        <div class="propostas-content content-section px-3 pt-4" style="display:none;">
            <h2 class="fs-5">Propostas</h2>
            <p>Detalhes das propostas...</p>
        </div>
        <div class="campanhas-content content-section px-3 pt-4" style="display:none;">
            <h2 class="fs-5">Campanhas</h2>
            <p>Informações sobre campanhas...</p>
        </div>

        <div class="promotores-content content-section px-3 pt-4" style="display: none;"> <!-- Gerenciamento dos promoters -->
            <h2 class="fs-5">Promotores</h2>
            <p class="fs-6">Gestão de promotores e vendedores:</p>
        
            <button hx-get="{{ url_for('users.promoters') }}" hx-trigger="click" hx-target="#search-promoters" 
            class="btn btn-primary" data-target="loadPromoters">
                Carregar Promotores
            </button>
        
            <button hx-get="{{ url_for('users.get_register_form') }}" hx-target="#post-promoters"
            class="btn btn-success" data-target="registerPromoters">
                Cadastrar Promotores
            </button>
            
            <button hx-get="{{ url_for('users.get_edit_form') }}" hx-target="#edit-promoters"
            class="btn btn-warning" data-target="editPromoters">
                Editar Promotores
            </button>

            <button hx-get="{{ url_for('users.get_delete_form') }}" hx-target="#delete-promoters"
            class="btn btn-danger" data-target="deletePromoters">
                Deletar Promoters
            </button>

            <div id="search-promoters" style="display:none;">{% block promoterscontent %}{% endblock %}</div>
            <div id="post-promoters" style="display:none;">{% block promotersregistercontent %}{% endblock %}</div>
            <div id="edit-promoters" style="display:none;">{% block promotersedit %}{% endblock %}</div>
            <div id="delete-promoters" style="display:none;">{% block promotersdelete %}{% endblock %}</div>
        </div>

        <div class="atendimento-content content-section px-3 pt-4" style="display:none;">
            <h2 class="fs-5">Atendimento</h2>
            <p>Informações de atendimento...</p>
        </div>

        <div class="bsponto-content content-section px-3 pt-4" style="display:none;"> <!--Gestão de ponto BS-->
            <h2 class="fs-4">Bs ponto</h2>
            <p class="fs-6">Gerenciamento de ponto, ao clicar no Butão abaixo segue o cadastro simples e sua situação do ponto. 
                Exemplo, se é <strong>entrada</strong>, <strong>intervalo</strong>, <strong>saída</strong> conforme a regra de negócio, o intervalo é tanto para seu almoço ou seu lanche!</p>
            <button hx-get={{url_for('hourpoint.get_point_hour')}} hx-target="#pontofunc" class="btn btn-success" data-target="pontofunc" onclick="openModal()">
                Registrar horário
            </button>
            <div id="pontofunc">{% block hourpoint %}{% endblock%}</div>
        </div>

        <div class="config-content content-section px-3 pt-4" style="display:none;">
            <h2 class="fs-5">Configuração</h2>
            <p>Informações de configurações</p>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/TrasnlateEvent.js') }}"></script>
<script src="{{ url_for('static', filename='js/point/OpenModalPoint.js') }}"></script>

{% endblock %}
