  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav"> 
      {% if 'Administrador' in session['type_user_func'] %} <!-- Chek hard level user == adm -->
      
      <!-- <li class="nav-item">
        <a class="nav-link " href="{{url_for('overview.dashboard')}}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li> --> <!-- Dashboard -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-piggy-bank"></i><span>Financeiro</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{url_for('fynance.gerement_finance')}}">
              <i class="bi bi-circle"></i><span>Gerenciamento de Banco e Convênios e Tabela de Comissão</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('fynance.manage_comission')}}">
              <i class="bi bi-circle"></i><span>Rank de Comissão</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('fynance.manage_payment')}}">
              <i class="bi bi-circle"></i><span>Gerenciamento de Pagamento</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('fynance.manage_report')}}">
              <i class="bi bi-circle"></i><span>Gerenciamento de Relatório</span>
            </a>
          </li>
        </ul>
      </li><!-- Finacneiro -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-minecart-loaded"></i><span>Área Comercial</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{url_for('proposal.manage_proposal')}}">
              <i class="bi bi-circle"></i><span>Rank de Comissão</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('proposal.state_proposal')}}">
              <i class="bi bi-circle"></i><span>Esteira de Vendas</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('proposal.creat_proposal')}}">
              <i class="bi bi-circle"></i><span>Criar Proposta</span>
            </a>
          </li>
        </ul>
      </li><!-- Area Comercial -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Operacional</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{url_for('operational.manage_operational')}}">
              <i class="bi bi-circle"></i><span>Gerenciamento Operacional</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('operational.manage_list_contract')}}">
              <i class="bi bi-circle"></i><span>Contrato Digital</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('operational.manage_state_contract')}}">
              <i class="bi bi-circle"></i><span>Esteira de Contratos</span>
            </a>
          </li>
        </ul>
      </li><!-- Operacional  -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="ri-vip-diamond-line"></i></i><span>Gerenciamento de Vendas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{url_for('rooms.list_rooms')}}">
              <i class="bi bi-circle"></i><span>Gerenciar Salas</span>
            </a>
          </li>
        </ul>
      </li><!-- Gerenciamento de vendas  -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-users" data-bs-toggle="collapse" href="#">
          <i class="ri-contacts-line"></i><span>Usuários</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-users" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{url_for('users.users')}}">
              <i class="bi bi-circle"></i><span>Gerenciamento de usuários</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('users.permission_users')}}">
              <i class="bi bi-circle"></i><span>Permissão de usuário</span>
            </a>
          </li>
        </ul>
      </li><!-- Usuários  -->

      {% elif 'Gerente Geral' in session['type_user_func'] %} <!-- Gerente Geral -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Operacional</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
              <i class="bi bi-circle"></i><span>General Tables</span>
            </a>
          </li>
          <li>
            <a href="tables-data.html">
              <i class="bi bi-circle"></i><span>Data Tables</span>
            </a>
          </li>
        </ul>
      </li><!-- Operacional  -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="ri-vip-diamond-line"></i></i><span>Gerenciamento de Vendas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Gerenciamento dos Vendedores</span>
            </a>
          </li>
          <li>
            <a href="charts-apexcharts.html">
              <i class="bi bi-circle"></i><span>Criar Sala</span>
            </a>
          </li>
          <li>
            <a href="charts-apexcharts.html">
              <i class="bi bi-circle"></i><span>Discadora</span>
            </a>
          </li>
        </ul>
      </li><!-- Gerenciamento de vendas -->
      
      {% elif 'Gerente de Vendas' in session['type_user_func']%}
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="ri-vip-diamond-line"></i></i><span>Gerenciamento de Vendas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Gerenciamento dos Vendedores</span>
            </a>
          </li>
          <li>
            <a href="charts-apexcharts.html">
              <i class="bi bi-circle"></i><span>Criar Sala</span>
            </a>
          </li>
          <li>
            <a href="charts-apexcharts.html">
              <i class="bi bi-circle"></i><span>Discadora</span>
            </a>
          </li>
        </ul>
      </li><!-- Gerenciamento de vendas  -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-minecart-loaded"></i><span>Área Comercial</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{url_for('proposal.manage_proposal')}}">
              <i class="bi bi-circle"></i><span>Rank de Comissão</span>
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              <i class="bi bi-circle"></i><span>Salas de Vendas </span>
            </a>
          </li>
          <li>
            <a href="forms-editors.html">
              <i class="bi bi-circle"></i><span>Esteira de Vendas</span>
            </a>
          </li>
        </ul>
      </li><!-- Area Comercial -->

      {% elif 'Vendedor' in session['type_user_func']%} <!-- Area Comercial -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-minecart-loaded"></i><span>Área Comercial</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{url_for('proposal.manage_proposal')}}">
              <i class="bi bi-circle"></i><span>Rank de Comissão</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('proposal.state_proposal')}}">
              <i class="bi bi-circle"></i><span>Esteira de Vendas</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('proposal.creat_proposal')}}">
              <i class="bi bi-circle"></i><span>Criar Proposta</span>
            </a>
          </li>
        </ul>
      </li><!-- Area Comercial -->

      {% elif 'Supervisor de Vendas' in session['type_user_func']%} <!-- Supervisor de Vendas -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="ri-vip-diamond-line"></i></i><span>Gerenciamento de Vendas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>Gerenciamento dos Vendedores</span>
            </a>
          </li>
          <li>
            <a href="charts-apexcharts.html">
              <i class="bi bi-circle"></i><span>Criar Sala</span>
            </a>
          </li>
          <li>
            <a href="charts-apexcharts.html">
              <i class="bi bi-circle"></i><span>Discadora</span>
            </a>
          </li>
        </ul>
      </li><!-- Gerenciamento de vendas  -->

      {% elif 'Financeiro' in session['type_user_func'] %} <!-- Finacneiro -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-piggy-bank"></i><span>Financeiro</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{url_for('fynance.gerement_finance')}}">
              <i class="bi bi-circle"></i><span>Gerenciamento Bancário</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('fynance.controllers_report_banker_comission')}}">
              <i class="bi bi-circle"></i><span>Relatorio de comissão</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('fynance.manage_comission')}}">
              <i class="bi bi-circle"></i><span>Controle de comissão</span>
            </a>
          </li>
          <li>
            <a href="components-badges.html">
              <i class="bi bi-circle"></i><span>Controle de Caixa</span>
            </a>
          </li>
          <li>
            <a href="components-breadcrumbs.html">
              <i class="bi bi-circle"></i><span>Gerenciamento de Pagamento</span>
            </a>
          </li>
          <li>
            <a href="components-buttons.html">
              <i class="bi bi-circle"></i><span>Analise de risco</span>
            </a>
          </li>
        </ul>
      </li><!-- Finacneiro -->

      {% elif 'Operacional' in session['type_user_func']%} <!-- Operacional  -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Operacional</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{url_for('operational.manage_operational')}}">
              <i class="bi bi-circle"></i><span>Gerenciamento Operacional</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('operational.manage_list_contract')}}">
              <i class="bi bi-circle"></i><span>Contrato Digital</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('operational.manage_state_contract')}}">
              <i class="bi bi-circle"></i><span>Esteira de Contratos</span>
            </a>
          </li>
        </ul>
      </li><!-- Operacional  -->

      {% elif 'Suporte de Campanha' in session['type_user_func']%} <!-- Suporte de Campanha  -->

      {% endif %}

    </ul>
  </ul>

  </aside><!-- End Sidebar-->