{% block promotersdelete %}
<br>
<form id="searchForm" class="form-group">
    <input type="text" id="searchField" placeholder="Buscar usuário..." class="input-group mb-1">
    <br>
    <button class="btn btn-danger" type="button" onclick="searchUser()">Buscar</button>
</form>
<br>
<table class="table" id="userTable">
  <thead>
    <tr>
      <th scope="col"><input type="checkbox" onclick="toggleUserSelection(this)"></th>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Identificação</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td><input type="checkbox" value="{{ user.id }}" class="user-checkbox"></td>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.user_identification }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button class="btn btn-danger" onclick="deleteSelectedUsers()">Deletar Selecionados</button>
<div id="response-container"></div>
<script src="{{ url_for('static', filename='js/promoters/DeleteChangesPromoters.js') }}"></script>
{% endblock %}
