{% block promotersedit %}
<br>
<form id="searchForm" class="form-group">
  <input type="text" id="searchField" placeholder="Buscar usuário..." class="input-group mb-1">
  <br>
  <button class="btn btn-warning" type="button" onclick="searchUser()">Buscar</button>
</form>
<br>
<table class="table" id="userTable">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Identificação</th>
      <th scope="col">Permissão</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td contenteditable="true" data-id="{{ user.id }}" data-field="username">{{ user.username }}</td>
      <td contenteditable="true" data-id="{{ user.id }}" data-field="user_identification">{{ user.user_identification }}</td>
      <td>
        <select data-id="{{ user.id }}" data-field="type_user">
          <option value="sellers" {% if user.type_user == 'sellers' %}selected{% endif %}>Vendedor</option>
          <option value="admin" {% if user.type_user == 'admin' %}selected{% endif %}>Administrador</option>
          <option value="promoters" {% if user.type_user == 'promoters' %}selected{% endif %}>Promotor</option>
        </select>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button class="btn btn-success" onclick="saveChanges()">Salvar Todas Alterações</button>
<div id="edit-promoters"></div>
<script src="{{ url_for('static', filename='js/EditSaveChangesPromoters.js') }}"></script>
{% endblock %}
