{% block promotersregistercontent %} <!-- Adicionar promoters e usuários -->

<hr>
<p>Gestão de cadastro de usuários ou promotores:</p>

<form action="{{ url_for('users.post_promoters') }}" method="POST" hx-post="{{ url_for('users.post_promoters') }}" hx-target="#response-container">
  <fieldset>
    <div class="form-group">
      <label for="username"><strong>Nome: </strong></label>
      <input type="text" id="username" name="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="user_identification"><strong>Identificação: </strong></label>
      <input type="text" id="user_identification" name="user_identification" class="form-control">
    </div>
    <div class="form-group">
      <label for="password"><strong>Senha: </strong></label>
      <input type="password" id="password" name="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="type_user"><strong>Permissão: </strong></label>
      <input type="text" id="type_user" name="type_user" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
  </fieldset>
</form>
<br>
<div id="response-container"></div>
<script>
  document.body.addEventListener('htmx:afterRequest', function(event) {
      if (event.detail.target.id === 'response-container') {
          const xhr = event.detail.xhr;

          if (xhr.getResponseHeader("Content-Type").includes("application/json")) {
              let data = {};
              try {
                  data = JSON.parse(xhr.responseText);

                  if (data && data.message) {
                      const messageDiv = document.createElement('div');
                      messageDiv.setAttribute('role', 'alert');
                      messageDiv.innerHTML = data.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';

                      if (xhr.status === 200) {
                          messageDiv.classList.add('alert', 'alert-success', 'alert-dismissible', 'fade', 'show');
                      } else if (xhr.status === 400) {
                          messageDiv.classList.add('alert', 'alert-danger', 'alert-dismissible', 'fade', 'show');
                      }

                      document.getElementById('response-container').innerHTML = ''; 
                      document.getElementById('response-container').appendChild(messageDiv);
                  } else {
                      console.error('Resposta JSON não contém a propriedade "message".');
                  }
              } catch (e) {
                  console.error('Erro ao analisar a resposta JSON:', e);
              }
          }
      }
  })
</script>
{% endblock %}
