<!-- login.html -->
{% extends "base.html" %}

{% block formcontent %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <div class="login-window">
        <form method="POST">
            <div class="mb-4">
                <label for="ID-User" class="form-label">Usuário:</label>
                <input type="text" class="form-control" id="ID-User" aria-describedby="UserHelp" name="user">
                <div id="UserHelp" class="form-text">Seu usuário para realizar o login.</div>
            </div>
            <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <button type="submit" class="btn btn-success">Logar</button>
        </form>
    </div>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login/login.css') }}">
<script src="{{ url_for('static', filename='js/login/login.js') }}"></script>
{% endblock %}
