{% block deletebankers %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title" id="addBankModalLabel">Deletar o Banco</h5>
        </div>
        <div class="card-body">
            <form id="addBankForm">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="bankerId" class="form-label">Escolha o Banco</label>
                        <select class="form-control" id="bankerId" name="bankSelect" required>
                            {% for bank in banks %}
                            <option value="{{ bank.id }}">{{ bank.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="card-footer bg-light">
                    <button type="submit" class="btn btn-danger">Deletar <i class="bi bi-save"></i></button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.reload();">Fechar <i class="bi bi-x-circle"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/fynance/DeleteBanker.js') }}"></script>
{% endblock %}