{% extends "base.html" %}


{% block main %}
<!-- CRUD fynance -->
<section>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Gerenciamento bancário</h5>

        <p class="details">Gerenciamento bancário, aonde você tem controle das tabelas de comissão.
            <strong>Atenção</strong>, seguir as regra de negócio para evitar erros internos</p>

        <div class="container mt-3 ms-3">

            <div class="list-group shadow">
                <button type="button"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="modal" data-bs-target="#addBankModal">
                    <strong>Adicionar Banco</strong>
                    <i class="fas fa-university"></i>
                </button>
            </div>

            <div class="list-group shadow">
                <button type="button"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="modal" data-bs-target="#addBankModalConv">
                    <strong>Adicionar Convênio</strong>
                    <i class="fas fa-plus"></i>
                </button>
            </div>

            <div class="list-group shadow">
                <button type="button"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="modal" data-bs-target="#deleteBankModal">
                    <strong>Deletar Banco</strong>
                    <i class="fas fa-trash"></i>
                </button>
            </div>

            <div class="list-group shadow">
                <button type="button"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="modal" data-bs-target="#addImportTablesComissionBanker">
                    <strong>Importar tabela de comissão</strong>
                    <i class="fas fa-upload"></i>
                </button>
            </div>

            <div class="list-group shadow">
                <button type="button"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="modal" data-bs-target="#addRegsiterTablesComissionBanker">
                    <strong>Adicionar tabela de comissão</strong>
                    <i class="fad fa-table"></i>
                </button>
            </div>


            <!-- Modal structure add new banker -->
            <div class="modal fade" id="addBankModal" tabindex="-1" aria-labelledby="addBankModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addBankModalLabel">Adicionar Banco</h5>
                        </div>
                        <div class="modal-body">
                            <form id="addBankForm">
                                <div class="mb-3">
                                    <label for="bankName" class="form-label">Nome do Banco</label>
                                    <input type="text" class="form-control" id="bankName" name="bankName" required>
                                </div>
                                <div class="card-footer bg-light">
                                    <button type="submit" class="btn btn-primary">Salvar <i
                                            class="bi bi-save"></i></button>
                                    <button type="button" class="btn btn-secondary"
                                        onclick="window.location.reload();">Fechar <i
                                            class="bi bi-x-circle"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal structure add new conv -->
            <div class="modal fade" id="addBankModalConv" tabindex="-1" aria-labelledby="addBankConvModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addBankConvModalLabel">Adcionar Convênio</h5>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <form id="addBankConvForm">
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="convName" class="form-label">Nome do convênio</label>
                                            <input type="text" class="form-control" id="convName" name="convName"
                                                required>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="bankerIdConv" class="form-label">Escolha o Banco</label>
                                            <select class="form-control" id="bankerIdConv" name="bankSelect" required>
                                                {% for bank in banks %}
                                                <option value="{{ bank.id }}">{{ bank.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-light">
                                        <button type="submit" class="btn btn-primary">Salvar <i
                                                class="bi bi-save"></i></button>
                                        <button type="button" class="btn btn-secondary"
                                            onclick="window.location.reload();">Fechar <i
                                                class="bi bi-x-circle"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal structure delete banker conv -->
            <div class="modal fade" id="deleteBankModal" tabindex="-1" aria-labelledby="deleteBankModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addBankConvModalLabel">Deletar Banco</h5>
                            </div>
                            <div class="card-body">
                                <form id="deleteBanker">
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="bankerId" class="form-label">Escolha o Banco</label>
                                            <select class="form-control" id="bankerId" name="bankSelect" required>
                                                {% for bank in banks %}
                                                <option value="{{ bank.id }}">{{ bank.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-light">
                                        <button type="submit" class="btn btn-danger">Deletar <i
                                                class="bi bi-save"></i></button>
                                        <button type="button" class="btn btn-secondary"
                                            onclick="window.location.reload();">Fechar <i
                                                class="bi bi-x-circle"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Add new table comission in banker and conv -->
            <div class="modal fade" id="addImportTablesComissionBanker" tabindex="-1"
                aria-labelledby="addImportTablesComissionBanker" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="card-body">
                                <form id="importForm" enctype="multipart/form-data" method="POST"
                                    action="{{ url_for('fynance.register_tables_bankers') }}">
                                    <div class="mb-3">
                                        <label for="fileInput" class="form-label">Escolha o arquivo (.csv,
                                            .xlsx):</label>
                                        <input class="form-control" type="file" id="fileInput" name="file">
                                    </div>
                                    <div class="mb-3">
                                        <label for="bankSelect" class="form-label">Selecione o Banco:</label>
                                        <select class="form-select" id="bankSelect" name="bankSelect">
                                            <option value="">Escolha...</option>
                                            {% for bank in banks %}
                                            <option value="{{ bank.id }}">{{ bank.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="convenioSelect" class="form-label">Selecione o Convênio:</label>
                                        <select class="form-select" id="convenioSelect" name="convenioSelect">
                                            <option value="">Escolha...</option>
                                            {% for bank in banks %}
                                            {% for convenio in bank.financial_agreements %}
                                            <option class="convenio-options" value="{{ convenio.id }}"
                                                data-bank-id="{{ bank.id }}" style="display: none;">{{ convenio.name }}
                                            </option>
                                            {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary"
                                        onclick="window.location.reload();">Importar</button>
                                    <button type="button" class="btn btn-secondary"
                                        onclick="window.location.reload();">Fechar <i
                                            class="bi bi-x-circle"></i></button>
                                </form>
                                <div id="notificationImportBanker" class="alert" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Register table banker and conv select one -->
            <div class="modal fade" id="addRegsiterTablesComissionBanker" tabindex="-1"
                aria-labelledby="addRegsiterTablesComissionBanker" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="card-body">
                                <form id="importFormTableOne" enctype="multipart/form-data" method="POST"
                                    action="{{ url_for('fynance.register_tables_one') }}">
                                    <div class="mb-3">
                                        <label for="bankSelectOne" class="form-label">Selecione o Banco:</label>
                                        <select class="form-select" id="bankSelectOne" name="bankSelectOne">
                                            <option value="">Escolha...</option>
                                            {% for bank in banks %}
                                            <option value="{{ bank.id }}">{{ bank.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="convenioSelect" class="form-label">Selecione o Convênio:</label>
                                        <select class="form-select" id="convenioSelect" name="convenioSelect">
                                            <option value="">Escolha...</option>
                                            {% for bank in banks %}
                                            {% for convenio in bank.financial_agreements %}
                                            <option class="convenio-options" value="{{ convenio.id }}"
                                                data-bank-id="{{ bank.id }}" style="display: none;">{{ convenio.name }}
                                            </option>
                                            {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Nome da tabela</label>
                                        <input type="text" class="form-control" id="name" name="name" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="type_table" class="form-label">Tipo da tabela</label>
                                        <input type="text" class="form-control" id="type_table" name="type_table"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tablecode" class="form-label">Código da tabela</label>
                                        <input type="text" class="form-control" id="tablecode" name="tablecode"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="start_term" class="form-label">Prazo Início</label>
                                        <input type="text" class="form-control" id="start_term" name="start_term"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="end_term" class="form-label">Prazo Fim</label>
                                        <input type="text" class="form-control" id="end_term" name="end_term" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="rate" class="form-label">Flat de comissão</label>
                                        <input type="text" class="form-control" id="rate" name="rate" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary"
                                        onclick="window.location.reload();">Importar</button>
                                    <button type="button" class="btn btn-secondary"
                                        onclick="window.location.reload();">Fechar <i
                                            class="bi bi-x-circle"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr>
            <!-- List bankers with conv and tables fynance -->
            <p class="details">Bancos cadastrados:</p>
            <ul id="bankList" class="list-group mt-4">
                {% for bank in banks %}
                <li class="list-group-item" onclick="toggleConvenios('{{ bank.id }}', event)">
                    <strong>{{ bank.name }}</strong>
                    <ul id="convenios-{{ bank.id }}" class="list-group mt-2" style="display:none;">
                        {% for convenio in bank.financial_agreements %}
                        <li class="list-group-item convenio-item"
                            onclick="toggleConveniosBankersTables('{{ convenio.id }}', event)">
                            <strong>{{ convenio.name }}</strong>
                            <i class="fal fa-trash" data-id="{{ convenio.id }}"
                                onclick="deleteConvenio(event, this)"></i>
                        </li>
                        <ul id="tables-{{ convenio.id }}" class="list-group nested-list">
                            {% for table in convenio.tables_finance %}
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                style="display:none;">
                                <div>
                                    <span class="details"><strong>Tabela</strong>: {{table.name}} - <strong>Tipo</strong>: {{ table.type_table }} - <strong>Cod</strong>: {{ table.table_code }} -
                                        <strong>Prazo Início</strong>: {{ table.start_term }} - <strong>Prazo Fim</strong>: {{ table.end_term }} -
                                        <strong>Comissão</strong>: {{ table.rate }}%</span>
                                </div>
                                <i class="fas fa-trash" data-id="{{table.id}}"
                                    onclick="deleteTableInCovInBanker(event, this)"></i>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>
</section>



<script src="{{ url_for('static', filename='js/fynance/CrudFynanceGerement.js') }}"></script>
<!--Crud de gerenciamento-->
<script src="{{ url_for('static', filename='js/fynance/ToggleTables.js') }}"></script>
<!--togles tables comission in conv and banker-->
<script src="{{ url_for('static', filename='js/fynance/toggleReportTablesFynance.js') }}"></script>
<script src="{{ url_for('static', filename='js/fynance/ToggleTablesBanker.js') }}"></script>
<!--Toggle for controllers conv head-->
<script src="{{ url_for('static', filename='js/fynance/toggleReportTableFynanceOne.js') }}"></script>
<!--Toggle fynance todo one register tables and conv-->
<script src="{{ url_for('static', filename='js/fynance/ToggleTableOne.js') }}"></script>
{% endblock %}