{% extends "base.html" %}
{% block main %}
<div class="container mt-5">
    <h2 class="text-center mb-4"><i class="bi bi-file-earmark-spreadsheet"></i>Relatório de Comissões</h2>
    
    <!-- Formulário para upload -->
    <form id="uploadForm" enctype="multipart/form-data" class="card p-4 shadow-sm mb-4">
        <div class="mb-3">
            <label for="report_name" class="form-label"><i class="bi bi-file-earmark-text"></i> Nome do Relatório:</label>
            <input type="text" id="report_name" name="report_name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="bankSelect" class="form-label"><i class="bi bi-bank"></i> Selecione o Banco:</label>
            <select class="form-select" id="bankSelect" required>
                <option value="">Escolha um banco...</option>
                {% for bank in banks %}
                    <option value="{{ bank.id }}">{{ bank.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="upload" class="form-label"><i class="bi bi-upload"></i> Selecione o Arquivo (.csv ou .xlsx):</label>
            <input type="file" id="upload" name="file" class="form-control" accept=".csv, .xlsx" required>
        </div>
    </form>

    <!-- Selecionar Sheet -->
    <div class="mb-3" id="sheet-selector-container" style="display: none;">
        <label for="sheet-selector" class="form-label"><i class="bi bi-file-earmark"></i> Selecione a Planilha:</label>
        <select id="sheet-selector" class="form-select"></select>
    </div>

    <!-- Tabela exibida -->
    <div id="table-container" class="table-responsive mt-4"></div>

    <!-- Botão para processar o relatório -->
    <div class="d-flex justify-content-between mt-4">
        <button type="button" class="btn btn-success" id="process" disabled>
            <i class="bi bi-check-circle"></i> Processar Dados
        </button>
    </div>

    <!-- Botão para deletar relatório -->
    <div class="d-flex justify-content-between mt-4">
        <button type="button" class="btn btn-danger" id="delete-report" disabled>
            <i class="bi bi-trash"></i> Limpar Relatório
        </button>
    </div>
    <br>
    <!-- Notificação -->
    <div id="notification" class="alert" style="display:none;" role="alert"></div>
</div>

<script src="{{ url_for('static', filename='js/fynance/processReport.js') }}"></script>
{% endblock %}
