{% block registerbanker %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title" id="addBankModalLabel">Adicionar Novo Banco</h5>
        </div>
        <div class="card-body">
            <form id="addBankForm">
                <div class="mb-3">
                    <label for="bankName" class="form-label">Nome do Banco</label>
                    <input type="text" class="form-control" id="bankName" name="bankName" required>
                </div>
                <div class="card-footer bg-light">
                    <button type="submit" class="btn btn-primary">Salvar <i class="bi bi-save"></i></button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.reload();">Fechar <i class="bi bi-x-circle"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/fynance/SendNewBanker.js') }}"></script>
{% endblock %}
