{% extends "base.html" %}


{% block main %}
<section>
    <h2 class="card-title">Layout de Relatório de Comissão</h2>
    <div class="container mt-4">
        <p class="details">Importante lembrar que o Layout é capturado após você importar um relatório de comissão do banco, 
            dado essa ação será salvo e quando for a próxima vez, para importação do mesmo banco será necessário seguir a mesma regra.
            Será necessário validar os 3 campos do relatório de comissão paga, seja o campo <strong>CPF, NOME, CÓDIGO DA TABELA</strong></p>

        <div id="feedback" class="alert alert-info" style="display: none;">
        </div>
        <div id="template-list" class="list-group">
        </div>
    </div>
    <br><br>
    <div class="mb-3">
        <label for="bankSelect" class="form-label">Selecione o Banco:</label>
        <select class="form-select" id="bankSelect" name="bankSelect">
            <option value="">Escolha...</option>
            {% for bank in banks %}
            <option value="{{ bank.id }}">{{ bank.name }}</option>
            {% endfor %}
        </select>
    </div>
    
    <br><br>
    <button id="delete-report" class="btn btn-danger" disabled>Excluir Relatório</button>
    <br><br>

    <div class="controls mb-3">
        <input type="file" id="upload" accept=".xlsx, .xls, .csv" class="form-control" />
        <br>
        <label for="sheet-selector" class="form-label" style="display: none;">Planilhas na tabela:</label>
        <select id="sheet-selector" class="form-select" style="display: none;"></select>
    </div>

    <div id="table-container" class="mb-3"></div>

    <button id="process" class="btn btn-primary" disabled>Processar</button>
    <button class="btn btn-secondary" onclick="window.location.reload();">Resetar <i class="bi bi-x-circle"></i></button>

    <hr>

    <div id="notification" class="alert" style="display: none;"></div>

</section>
<script src="{{ url_for('static', filename='js/fynance/ToggleTables.js') }}"></script>
<!--togles tables comission in conv and banker-->
<script src="{{ url_for('static', filename='js/fynance/toggleReportTablesFynance.js') }}"></script>
<script src="{{ url_for('static', filename='js/fynance/ToggleTablesBanker.js') }}"></script>
<!--Toggle for controllers conv head-->
<script src="{{ url_for('static', filename='js/fynance/toggleReportTableFynanceOne.js') }}"></script>
<!--Toggle fynance todo one register tables and conv-->
<script src="{{ url_for('static', filename='js/fynance/ToggleTableOne.js') }}"></script>
<script src="{{ url_for('static', filename='js/fynance/reportBanker.js') }}"></script>
<script src="{{ url_for('static', filename='js/fynance/templateBankerComission.js') }}"></script>
{% endblock%}