{% extends "base.html" %}


{% block main %}

<div class="mb-3">
    <label for="bankSelect" class="form-label">Selecione o Banco:</label>
    <select class="form-select" id="bankSelect" name="bankSelect">
        <option value="">Escolha...</option>
        {% for bank in banks %}
        <option value="{{ bank.id }}">{{ bank.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="mb-3">
    <label for="convenioSelect" class="form-label">Selecione o Convênio:</label>
    <select class="form-select" id="convenioSelect" name="convenioSelect">
        <option value="">Escolha...</option>
        {% for bank in banks %}
        {% for convenio in bank.financial_agreements %}
        <option class="convenio-options" value="{{ convenio.id }}" data-bank-id="{{ bank.id }}" style="display: none;">
            {{ convenio.name }}
        </option>
        {% endfor %}
        {% endfor %}
    </select>
</div>

<div class="controls">
    <input type="file" id="upload" accept=".xlsx, .xls, .csv" />
    <br>
    <i>Planilhas na tabela<i><select id="sheet-selector" style="display: none;"></select>
</div>

<div id="table-container"></div>
<button id="process" disabled>Processar</button>


<button class="btn btn-secondary" onclick="window.location.reload();">Resetar <i class="bi bi-x-circle"></i></button>

<hr>
<div id="notification" class="alert" style="display: none;"></div>

<script src="{{ url_for('static', filename='js/fynance/ToggleTables.js') }}"></script>
<!--togles tables comission in conv and banker-->
<script src="{{ url_for('static', filename='js/fynance/toggleReportTablesFynance.js') }}"></script>
<script src="{{ url_for('static', filename='js/fynance/ToggleTablesBanker.js') }}"></script>
<!--Toggle for controllers conv head-->
<script src="{{ url_for('static', filename='js/fynance/toggleReportTableFynanceOne.js') }}"></script>
<!--Toggle fynance todo one register tables and conv-->
<script src="{{ url_for('static', filename='js/fynance/ToggleTableOne.js') }}"></script>
<script src="{{ url_for('static', filename='js/fynance/ReportBanker.js') }}"></script>
{% endblock%}