{% block listpermissions %}

<div class="container mt-5">
    <h2 class="mb-4 text-start">Gerenciar Permissões de Usuários</h2>
    <div class="table-responsive">
        <form method="POST" action="{{ url_for('admin.manage_permissions_bulk') }}" id="permissionsForm">
            <table class="table table-bordered table-hover table-sm float-start text-start">
                <thead class="table-dark">
                    <tr>
                        <th>Usuário</th>
                        <th>Permissão Cadastrada</th>
                        <th>Permissão Concedida</th>
                        <th>Permissões</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }} {{ user.lastname }}</td>
                        <td>{{ user.type_user_func }}</td>
                        <td>
                            {% for permission in permissions_data if permission.username == user.username %}
                                <span class="badge bg-info">{{ permission.permission }}</span>
                            {% else %}
                                <span class="text-muted">Nenhuma permissão concedida</span>
                            {% endfor %}
                        </td>
                        <td>
                            <input type="hidden" name="user_ids[]" value="{{ user.id }}">
                            {% for permission in permissions %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="permissions_to_remove[]"
                                    value="{{ permission.id }}" id="perm-{{ permission.id }}-{{ user.id }}">
                                <label class="form-check-label" for="perm-{{ permission.id }}-{{ user.id }}">
                                    {{ permission.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary" id="savePermissionsButton">Salvar Todas as Permissões</button>
                <button type="button" class="btn btn-danger" id="removePermissionsButton">Remover Permissões Selecionadas</button>
            </div>
        </form>
    </div>
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin.css') }}">
<script src="{{ url_for('static', filename='js/admin/RemovePermission.js') }}"></script>
{% endblock %}