{% extends "base.html" %}


{% block main %}


<section>
    <!-- Small modal de proposta -->
    <form id="proposalForm" enctype="multipart/form-data" method="POST" action="{{ url_for('proposal.add_proposal') }}">
        <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
            <div class="container-fluid">
                <label for="DataRegister" class="form-label"><strong>Dados Cadastrais:</strong></label>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="nameRegisterProposal" class="form-label">Nome Completo</label>
                        <input type="text" class="form-control" id="nameRegisterProposal" name="nameRegisterProposal">
                    </div>
                    <div class="col-md-6">
                        <label for="ddb-year" class="form-label">Data de Nascimento</label>
                        <input type="date" class="form-control" id="ddb-year" name="ddb-year" >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="SexSelect" class="form-label">Sexo</label>
                        <select class="form-select" id="SexSelect" name="SexSelect" >
                            <option value="">Escolha...</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="number" class="form-control" id="CPF" name="CPF" >
                    </div>
                    <div class="col-md-6">
                        <label for="naturalidade" class="form-label">Naturalidade</label>
                        <input type="text" class="form-control" id="naturalidae" name="naturalidade" >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="StateSelect" class="form-label">Selecione o estado</label>
                        <select class="form-select" name="stateselect" id="StateSelect" >
                            <option value=""></option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="identidade" class="form-label">Identidade</label>
                        <input type="text" class="form-control" id="identidade" name="identidade" >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="OrganSend" class="form-label">Órgão Emissor</label>
                        <input type="text" class="form-control" id="OrganSend" name="orgao_emissor" >
                    </div>
                    <div class="col-md-6">
                        <label for="StateUfSelect" class="form-label">UF Emissão</label>
                        <select class="form-select" name="StateUfSelect" id="StateUfSelect" >
                            <option value="">Escolha...</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="dayOmission" class="form-label">Data de emissão</label>
                        <input type="date" class="form-control" id="dayOmission" name="data_emissao" >
                    </div>
                    <div class="col-md-6">
                        <label for="father" class="form-label">Nome do pai</label>
                        <input type="text" class="form-control" id="father" name="father" >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="mother" class="form-label">Nome do mãe</label>
                        <input type="text" class="form-control" id="mother" name="mother" >
                    </div>
                    <div class="col-md-6">
                        <label for="zipcode" class="form-label">CEP</label>
                        <input type="text" class="form-control" id="zipcode" name="zipcode" >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="address" class="form-label">Endereço</label>
                        <input type="text" class="form-control" id="address" name="address" >
                    </div>
                    <div class="col-md-6">
                        <label for="address-number" class="form-label">Número</label>
                        <input type="text" class="form-control" id="address-number" name="address-number" >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="address-complement" class="form-label">Complemento</label>
                        <input type="text" class="form-control" id="address-complement" name="address-complement"
                            >
                    </div>
                    <div class="col-md-6">
                        <label for="neighborhood" class="form-label">Bairro</label>
                        <input type="text" class="form-control" id="neighborhood" name="neighborhood" >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="city" class="form-label">Cidade</label>
                        <input type="text" class="form-control" id="city" name="city" >
                    </div>
                    <div class="col-md-6">
                        <label for="StateUfCitySelect" class="form-label">UF Cidade</label>
                        <select class="form-select" name="StateUfCitySelect" id="StateUfCitySelect" >
                            <option value=""></option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="value-salary" class="form-label">Salário Bruto</label>
                        <input type="number" class="form-control" id="value-salary" name="value-salary" >
                    </div>
                    <div class="col-md-6">
                        <label for="value-salary" class="form-label">Salário Liquido</label>
                        <input type="number" class="form-control" id="value-salary-liquid" name="value-salary-liquid"
                            >
                    </div>

                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="phone-comercial" class="form-label">Telefone Comercial</label>
                        <input type="text" class="form-control" id="phone-comercial" name="phone-comercial" >
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label">Telefone Celular</label>
                        <input type="text" class="form-control" id="phone" name="phone" >
                    </div>
                    <div class="col-md-6">
                        <label for="phone-residential" class="form-label">Telefone Residencial</label>
                        <input type="text" class="form-control" id="phone-residential" name="phone-residential"
                            >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="BenefitSelect" class="form-label">Selecione o benefício</label>
                        <select class="form-select" name="benefitselect" id="BenefitSelect">
                            <option value="">Escolha...</option>
                            <option value="1">Por morte do trabalhador rural</option>
                            <option value="2">Pensão por morte por acidente do trabalho do trabalhador rural
                            </option>
                            <option value="3">Pensão por morte do empregador rural</option>
                            <option value="4">Por invalidez do trabalhador rural</option>
                            <option value="5">Aposentadoria por invalidez, por acidente do trabalhador rural
                            </option>
                            <option value="6">Por invalidez do empregador rural</option>
                            <option value="7">Por idade do trabalhador rural</option>
                            <option value="8">Por idade do empregador rural</option>
                            <option value="11">Amparo previdenciário invalidez - Trab. rural</option>
                            <option value="12">Amparo previdenciário idade - Trab. rural</option>
                            <option value="18">Auxílio inclusão</option>
                            <option value="19">Pensão de estudante (Lei 7004/82)</option>
                            <option value="20">Pensão por morte de ex-diplomata</option>
                            <option value="21">Por morte previdenciária (LOPS)</option>
                            <option value="22">Por morte estatutária (EPU)</option>
                            <option value="23">Por morte de ex-combatente</option>
                            <option value="24">Pensão especial (ato institucional)</option>
                            <option value="26">Pensão especial (Lei 593/48) (EPU)</option>
                            <option value="27">Por morte do servidor público federal com dupla aposentadoria
                            </option>
                            <option value="28">Por morte, do Regime Geral (Decreto 20465/31)</option>
                            <option value="29">Por morte de ex-combatente marítimo (Lei 1756/52)</option>
                            <option value="30">Renda mensal vitalícia por incapacidade</option>
                            <option value="32">Por invalidez previdenciária (LOPS)</option>
                            <option value="33">Por invalidez de aeronauta</option>
                            <option value="34">Por invalidez de ex-combatente marítimo (Lei 1.756/52)
                            </option>
                            <option value="37">Aposentadoria de extranumerário da União (EPU)</option>
                            <option value="38">Aposentadoria da extinta CAPIN (EPU)</option>
                            <option value="40">Renda mensal vitalícia por idade</option>
                            <option value="41">Por idade (LOPS)</option>
                            <option value="42">Por tempo de contribuição previdenciária</option>
                            <option value="43">Por tempo de contribuição de ex-combatente</option>
                            <option value="44">Por tempo de contribuição de aeronauta</option>
                            <option value="45">Por tempo de contribuição de jornalista profissional</option>
                            <option value="46">Por tempo de contribuição especial</option>
                            <option value="49">Por tempo de contribuição ordinária</option>
                            <option value="51">Aposentadoria por invalidez (Extinto Plano Básico)</option>
                            <option value="52">Por idade (Extinto plano Básico)</option>
                            <option value="54">Pensão especial vitalícia (Lei 9793/99) (EPU)</option>
                            <option value="55">Por morte (Extinto Plano Básico)</option>
                            <option value="56">Pensão mensal vitalícia por síndrome de talidomida (Lei
                                7070/82)
                            </option>
                            <option value="57">Por tempo de contribuição de professores (EC/CF 18/81)
                            </option>
                            <option value="58">Aposentadoria excepcional do anistiado (Lei 6683/79) (EPU)
                            </option>
                            <option value="59">Por morte excepcional do anistiado (Lei 6683/79) (EPU)
                            </option>
                            <option value="60">Pensão especial mensal vitalícia (Lei 10.923/04)</option>
                            <option value="72">Por tempo de contribuição de ex-combatente marítimo (Lei
                                1756/52)
                            </option>
                            <option value="78">Por idade de ex-combatente marítimo (Lei 1.756/52)</option>
                            <option value="81">Por idade compulsória (Ex-SASSE)</option>
                            <option value="82">Por tempo de contribuição (Ex-SASSE)</option>
                            <option value="83">Aposentadoria por invalidez (Ex-SASSE)</option>
                            <option value="84">Por morte (Ex-SASSE)</option>
                            <option value="87">Amparo assistencial ao portador de deficiência (LOAS)
                            </option>
                            <option value="88">Amparo assistencial ao idoso (LOAS)</option>
                            <option value="89">Pensão especial aos dependentes de vítimas fatais por
                                contaminação na hemodiálise (EPU)</option>
                            <option value="92">Aposentadoria por invalidez por acidente do trabalho</option>
                            <option value="93">Pensão por morte por acidente do trabalho</option>
                            <option value="94">Auxílio-acidente por acidente do trabalho</option>
                            <option value="96">Pensão especial para pessoas atingidas por Hanseníase
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="StateBenefitUf" class="form-label">UF Emissão</label>
                        <select class="form-select" name="StateBenefitUf" id="StateBenefitUf">
                            <option value="">Escolha...</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
                <hr>
                <label for="OperationBankerData" class="form-label">
                    <h6><strong>Dados Bancários:</strong></h6>
                </label>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="SelectBankerPaymentType" class="form-label">Tipo de pagamento</label>
                        <select class="form-select" name="SelectBankerPaymentType" id="SelectBankerPaymentType"
                            >
                            <option value="">Escolha..</option>
                            <option value="credito-conta">Crédito em Conta</option>
                            <option value="pix">Pix</option>
                            <option value="ordempagamento">Ordem de pagamento</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="SelectBanker" class="form-label">Selecione o Banco</label>
                        <select class="form-select" name="SelectBankerPayment" id="SelectBankerPayment" >
                            <option value="">Escolha...</option>
                            <option value="206">N/A - +ÁGIL CASH</option>
                            <option value="177">N/A - AATAPS</option>
                            <option value="173">N/A - ABESP</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="receivedCardBenefit" name="receivedCardBenefit"
                            placeholder="Recebeu Benefício do Cartão" >
                    </div>
                </div>
                <div class="row mb-3" id="pixInputs" style="display: none;">
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="bankPix" name="bankPix" placeholder="Agencia Banco"
                            >
                    </div>
                    <br>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="pixKeyType" name="pixKeyType"
                            placeholder="Tipo de Chave Pix" >
                    </div>
                </div>
                <div class="row mb-3" id="creditAccountInputs" style="display: none;" >
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="agency" name="agencyCreditAccounts"
                            placeholder="Agência" >
                    </div>
                    <br>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="agencyDV" name="agencyDVCreditAccounts"
                            placeholder="DV-Agência" >
                    </div>
                    <br>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="account" name="accountCreditAccounts"
                            placeholder="Conta" >
                    </div>
                    <br>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="accountDV" name="accountDVCreditAccounts"
                            placeholder="DV" >
                    </div>
                    <br>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="accountType" name="accountTypeCreditAccounts"
                            placeholder="Tipo de Conta" >
                    </div>
                </div>
                <div class="row mb-3" id="orderPaymentInputs" style="display: none;">
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="agencyOP" name="agencyOPOrder" placeholder="Agência"
                            >
                    </div>
                    <br>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="agencyDVOP" name="agencyDVOPOrder"
                            placeholder="DV-Agência" >
                    </div>
                </div>
                <hr>
                <label for="ProposalEmprest" class="form-label"><strong>Proposta de
                        Empréstimo:</strong></label>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="bankerProposal" class="form-label">Escolha o Banco</label>
                        <select class="form-control" id="bankerProposal" name="bankSelect" >
                            <option value="">Escolha...</option>
                            {% for banker in bankers %}
                            <option value="{{ banker.id }}">{{ banker.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="convenioSelectProposal" class="form-label">Selecione o Convênio:</label>
                        <select class="form-select" id="convenioSelectProposal" name="convenioSelectProposal" >
                            <option value="">Escolha...</option>
                            {% for banker in bankers %}
                            {% for convenio in banker.financial_agreements %}
                            <option class="convenio-options" data-bank-id="{{ banker.id }}" value="{{ convenio.id }}">{{ convenio.name }}</option>
                            {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="tableSearchInput" class="form-label">Buscar Tabela:</label>
                        <input type="text" id="tableSearchInput" class="form-control" placeholder="Digite o código da tabela...">
                    
                        <label for="tableSelectProposal" class="form-label mt-2">Selecione a Tabela:</label>
                        <select class="form-select" id="tableSelectProposal" name="tableSelectProposal" disabled>
                            <option value="">Escolha...</option>
                            {% for banker in bankers %}
                                {% for convenio in banker.financial_agreements %}
                                    {% for table in convenio.tables_finance %}
                                        <option class="table-options" data-convenio-id="{{ convenio.id }}" value="{{ table.id }}">
                                            <strong>{{ table.name }}</strong> - {{ table.type_table }} - Cod: {{ table.table_code }} - Prazo Início: {{ table.start_term }} - Prazo Fim: {{ table.end_term }} - Comissão: {{ table.rate }}
                                        </option>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="OperationSelect" class="form-label">Selecione a operação</label>
                        <select class="form-select" name="operationselect" id="OperationSelect" >
                            <option value="">Escolha...</option>
                            <option value="Abertura de conta">Abertura de conta</option>
                            <option value="Cartão com saque">Cartão c/saque</option>
                            <option value="Cartão com saque complementar a vista">Cartão c/saque complementar
                                à
                                vista</option>
                            <option value="Cartão com saque complementar parcelado">Cartão c/saque
                                complementar
                                parcelado</option>
                            <option value="Cartão com saque parcelado">Cartão c/saque parcelado</option>
                            <option value="Cartão sem saque">Cartão s/saque</option>
                            <option value="Compra de divida">Compra de dívida</option>
                            <option value="Compra de divida mais margem livre">Compra de dívida + Margem Livre
                            </option>
                            <option value="Compra de divida mais Refinanciamento">Compra de dívida + Refinanciamento
                            </option>
                            <option value="Compra de dívida mais Refinanciamento mais Margem Livre">Compra de dívida +
                                Refinanciamento
                                + Margem Livre</option>
                            <option value="Empréstimo complementar INSS">Empréstimo complementar INSS
                            </option>
                            <option value="Margem Livre Novo">Margem Livre (Novo)</option>
                            <option value="Margem Livre Refinanciamento">Margem Livre + Refinanciamento
                            </option>
                            <option value="Portabilidade">Portabilidade</option>
                            <option value="Portabilidade mais Margem Livre">Portabilidade + Margem Livre</option>
                            <option value="Portabilidade mais Margem Livre mais Refin">Portabilidade + Margem Livre +
                                Refin</option>
                            <option value="Portabilidade mais Refin">Portabilidade + Refin</option>
                            <option value="Refinanciamento">Refinanciamento</option>
                            <option value="Refinanciamento da Portabilidade">Refinanciamento da Portabilidade
                            </option>
                            <option value="Refinanciamento da Portabilidade">Refinanciamento da
                                Portabilidade +
                                Margem Livre</option>
                            <option value="Refinanciamento Rec">Refinanciamento Rec</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="matricula" class="form-label">Matrícula</label>
                        <input type="text" class="form-control" id="matricula" name="matricula" >
                    </div>
                    <div class="col-md-6">
                        <label for="TextPasswordServer" class="form-label">Senha do servidor</label>
                        <input type="text" class="form-control" id="TextPasswordServer" name="TextPasswordServer"
                            >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="ddb" class="form-label">Data de Despacho</label>
                        <input type="date" class="form-control" id="ddb" name="ddb" >
                    </div>
                    <div class="col-md-6">
                        <label for="senha-contracheque" class="form-label">Senha do contra-cheque</label>
                        <input type="text" class="form-control" id="senhacontracheque" name="senhacontracheque"
                            >
                    </div>
                </div>
                <hr>
                <label for="DataOperation" class="form-label"><strong>Dados da Operação:</strong></label>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="margemUtilizada" class="form-label">Margem utilizada</label>
                        <input class="form-control" type="number" id="margem" name="margem"
                            placeholder="Margem Utilizada" >
                    </div>
                    <div class="col-md-6">
                        <label for="ParcelaSelect" class="form-label">Parcela</label>
                        <input class="form-control" type="text" id="parcela" name="parcela"
                            placeholder="Parcela Selecionado" >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="PrazoSelect" class="form-label">Prazo</label>
                        <input class="form-control" type="text" id="prazo" name="prazo" placeholder="Prazor Selecionado"
                            >
                    </div>
                    <div class="col-md-6">
                        <label for="ValueOperation" class="form-label">Valor Operação</label>
                        <input class="form-control" type="text" id="valueoperation" name="valor_operacao"
                            placeholder="Valor de operação" >
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <label for="ReportDocs" class="form-label"><strong>Importação de
                            documento:</strong></label>
                    <div class="col-md-6">
                        <label for="rg-cnh-completo" class="form-label">RG/CNH - COMPLETO</label>
                        <!--Frente e verso-->
                        <input type="file" class="form-control" id="rg-cnh-completo" name="rg_cnh_completo[]" multiple>
                    </div>
                    <div class="col-md-6">
                        <label for="contracheque" class="form-label">Contracheque</label>
                        <input type="file" class="form-control" id="contracheque" name="contracheque[]" multiple>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="extrato-consignacoes" class="form-label">Extrato de consignações</label>
                        <input type="file" class="form-control" id="extrato-consignacoes" name="extrato_consignacoes[]"
                            multiple>
                    </div>
                    <div class="col-md-6">
                        <label for="comprovante-residencia" class="form-label">Comprovante
                            residencial</label>
                        <input type="file" class="form-control" id="comprovante-residencia"
                            name="comprovante_residencia[]" multiple>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="selfie" class="form-label">Sefie</label>
                        <input type="file" class="form-control" id="selfie" name="selfie[]" multiple>
                    </div>
                    <div class="col-md-6">
                        <label for="comprovante-bancario" class="form-label">Comprovante Bancário</label>
                        <input type="file" class="form-control" id="comprovante-bancario" name="comprovante_bancario[]"
                            multiple>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="detalhamento-inss" class="form-label">Detalhamento INSS</label>
                        <input type="file" class="form-control" id="detalhamento-inss" name="detalhamento_inss[]"
                            multiple>
                    </div>
                    <div class="col-md-6">
                        <label for="historico-consignacoes-inss" class="form-label">Histórico de
                            consignações
                            INSS</label>
                        <input type="file" class="form-control" id="historico-consignacoes-inss"
                            name="historico_consignacoes_inss[]" multiple>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label for="observacoes" class="form-label">Observações</label> <!--Observações -->
                        <textarea class="form-control" id="observacoes" name="observacoes" rows="4"
                            placeholder="Digite suas observações aqui..." ></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</section>

<script>
    const publicKeyPEM = `{{ public_key|safe }}`;
</script>

<script src="{{ url_for('static', filename='css/proposal/proposal.css') }}"></script>
<script src="{{ url_for('static', filename='js/proposal/ToggleTable.js') }}"></script>
<script src="{{ url_for('static', filename='js/proposal/InputsPaymentsAccounts.js') }}"></script>
<script src="{{ url_for('static', filename='js/proposal/SendNewProposal.js') }}"></script>
<script src="{{ url_for('static', filename='js/proposal/ToggleTableInBankerAndConv.js') }}"></script>
<script src="{{ url_for('static', filename='js/proposal/SearchTables.js') }}"></script>
{% endblock %}