{% extends "base.html" %}


{% block main %}

    <div class="container mt-5">
        <h2 class="text-center mb-4">Editar Proposta</h2>
        <div class="card shadow-sm">
            <div class="card-body">
                <form id="editProposalForm" method="POST" enctype="multipart/form-data" data-proposal-id="{{ proposal.id }}">
                    <!-- Informações Pessoais -->
                    <br>
                    <h5 class="mb-3">Informações Pessoais:</h5>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name_and_lastname" class="form-label">Nome Completo:</label>
                            <input type="text" class="form-control" id="name_and_lastname" name="name_and_lastname" value="{{ proposal.name }}" >
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="dd_year" class="form-label">Data de Nascimento:</label>
                            <input type="date" class="form-control" id="date_year" name="date_year" value="{{ proposal.date_year.strftime('%Y-%m-%d')  }}" >
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ proposal.email  }} " >
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="sex" class="form-label">Sexo:</label>
                            <select class="form-select" id="sex" name="sex">
                                <option value="Masculino" {% if proposal.sex == 'Masculino' %}selected{% endif %}>Masculino</option>
                                <option value="Feminino" {% if proposal.sex == 'Feminino' %}selected{% endif %}>Feminino</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="phone" class="form-label">Telefone:</label>
                            <input type="text" class="form-control" id="phone" name="phone" value="{{ proposal.phone  }}">
                        </div>
                    </div>

                    <!-- Endereço -->
                    <h5 class="mt-4 mb-3">Endereço:</h5>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="address" class="form-label">Endereço:</label>
                            <input type="text" class="form-control" id="address" name="address" value="{{ proposal.address  }}" >
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="address_number" class="form-label">Número:</label>
                            <input type="text" class="form-control" id="address_number" name="address_number" value="{{ proposal.address_number  }}" >
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="zipcode" class="form-label">CEP:</label>
                            <input type="text" class="form-control" id="zipcode" name="zipcode" value="{{ proposal.zipcode  }}" >
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="neighborhood" class="form-label">Bairro:</label>
                            <input type="text" class="form-control" id="neighborhood" name="neighborhood" value="{{ proposal.neighborhood  }}" >
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="city" class="form-label">Cidade:</label>
                            <input type="text" class="form-control" id="city" name="city" value="{{ proposal.city  }}" >
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="state_uf_city" class="form-label">Estado:</label>
                            <input type="text" class="form-control" id="state_uf_city" name="state_uf_city" value="{{ proposal.state_uf_city  }}" >
                        </div>
                    </div>

                    <!-- Informações Financeiras -->
                    <h5 class="mt-4 mb-3">Informações Financeiras:</h5>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="value_salary" class="form-label">Salário:</label>
                            <input type="text" class="form-control" id="value_salary" name="value_salary" value="{{ proposal.value_salary   }}" >
                        </div>

                        {% macro currency_format(value) %}
                            {{ "{:.0f}".format(value).replace(" ", "").strip() }}
                        {% endmacro %}
                        <div class="col-md-6 mb-3">
                            <label for="value_operation" class="form-label">Valor da Operação:</label>
                            <input type="text" class="form-control" id="value_operation" name="value_operation" value="{{ (proposal.value_operation|round(0)) }}"  required>
                        </div>
                        
                        
                        <div class="col-md-12 mb-3">
                            <label for="operation_select" class="form-label">Operação:</label>
                            <input type="text" class="form-control" id="operation_select" name="operation_select" value="{{ proposal.operation_select  }}" >
                        </div> 
                        
                        <div class="col-md-12 mb-3">
                            <label for="table_id" class="form-label">Tabela Cadastrada:</label>
                            <div class="form-control-plaintext">
                                {% for banker in bankers %}
                                    {% for convenio in banker.financial_agreements %}
                                        {% for table in convenio.tables_finance %}
                                            {% if proposal.table_id == table.id %}
                                                <strong data-table-id="{{ table.id }}">{{ table.name }}</strong> - {{ table.type_table }} - Cod: {{ table.table_code }} - Prazo Início: {{ table.start_term }} - Prazo Fim: {{ table.end_term }} - Comissão: {{ table.rate }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="tableSearchInput" class="form-label">Buscar Tabela:</label>
                            <input type="text" id="tableSearchInput" class="form-control" placeholder="Digite o código da tabela...">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="tableSelectProposal" class="form-label">Selecione a Tabela:</label>
                        <select class="form-select" id="tableSelectProposal" name="tableSelectProposal" required>
                            <option value="">Escolha...</option>
                            {% for banker in bankers %}
                                {% for convenio in banker.financial_agreements %}
                                    {% for table in convenio.tables_finance %}
                                        <option class="table-options" data-convenio-id="{{ convenio.id }}" 
                                            value="{{ table.id }}"
                                            {% if proposal.table_id == table.id %} selected {% endif %}>
                                            <strong>{{ table.name }}</strong> - {{ table.type_table }} - Cod: {{ table.table_code }} - Prazo Início: {{ table.start_term }} - Prazo Fim: {{ table.end_term }} - Comissão: {{ table.rate }}
                                        </option>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    
                    <br><br>
                    <div class="col-md-12 mb-3">
                        <label for="conv_id" class="form-label">Convenio Cadastrado:</label>
                        <select class="form-select" id="conv_id" name="conv_id">
                            {% for banker in bankers %}
                                {% for convenio in banker.financial_agreements %}
                                    <option value="{{ convenio.id }}" {% if proposal.conv_id == convenio.id %}selected{% endif %}>
                                        {{ convenio.name }}
                                    </option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    
                    
                    <div class="col-md-6 mb-3">
                        <label for="select_banker_payment_type" class="form-label">Operação de Pagamento:</label>
                        <input type="text" class="form-control" id="select_banker_payment_type" name="select_banker_payment_type" value="{{ proposal.select_banker_payment_type }}" >
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="select_banker_payment" class="form-label">Ordem de Pagamento:</label>
                        <input type="text" class="form-control" id="select_banker_payment" name="select_banker_payment" value="{{ proposal.select_banker_payment }}" >
                    </div>
                </div>
                

                <!-- Fotos Relacionadas do contratos -->
                <h5 class="mt-4 mb-3">Imagens Registradas do Contrato:</h5>
                <div id="imageModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Visualizar Imagem:</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <img id="expandedImage" src="" alt="Imagem Expandida" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    {% for field, image in image_paths.items() %}
                        <div class="col-md-6">
                            <h5 class="mt-4 mb-3">{{ field | replace('_', ' ') | capitalize }}:</h5>
                            {% if image %}
                                <div class="img-wrapper">
                                    <img src="data:image/jpeg;base64,{{ image }}" alt="{{ field }}" class="img-thumbnail" style="max-width: 150px; cursor: pointer;">
                                    <button type="button" class="btn btn-danger btn-sm remove-image" data-field="{{ field }}">Remover</button>
                                </div>
                            {% else %}
                                <p>Nenhuma Imagem Cadastrada</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>               
            
                <hr>
                <h5 class="mt-4 mb-3">Registrar imagens:</h5>
                <div class="row mb-3">
                    <label for="ReportDocs" class="form-label"><strong>Importação de
                            documento:</strong></label>
                    <div class="col-md-6">
                        <label for="rg-cnh-completo" class="form-label">RG/CNH - COMPLETO</label>
                        <!--Frente e verso-->
                        <input type="file" class="form-control" id="rg-cnh-completo" name="rg_cnh_completo" multiple>
                    </div>
                    <div class="col-md-6">
                        <label for="rg_frente" class="form-label">RG - Frente</label>
                        <!--Frente -->
                        <input type="file" class="form-control" id="rg_frente" name="rg_frente" multiple>
                    </div>
                    <div class="col-md-6">
                        <label for="rg_verso" class="form-label">RG - Verso</label>
                        <!--Frente-->
                        <input type="file" class="form-control" id="rg_verso" name="rg_verso" multiple>
                    </div>
                    <div class="col-md-6">
                        <label for="contracheque" class="form-label">Contracheque</label>
                        <input type="file" class="form-control" id="contracheque" name="contracheque" multiple>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="extrato-consignacoes" class="form-label">Extrato de consignações</label>
                        <input type="file" class="form-control" id="extrato-consignacoes" name="extrato_consignacoes"
                            multiple>
                    </div>
                    <div class="col-md-6">
                        <label for="comprovante-residencia" class="form-label">Comprovante
                            residencial</label>
                        <input type="file" class="form-control" id="comprovante-residencia"
                            name="comprovante_residencia" multiple>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="selfie" class="form-label">Sefie</label>
                        <input type="file" class="form-control" id="selfie" name="selfie" multiple>
                    </div>
                    <div class="col-md-6">
                        <label for="comprovante-bancario" class="form-label">Comprovante Bancário</label>
                        <input type="file" class="form-control" id="comprovante-bancario" name="comprovante_bancario"
                            multiple>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="detalhamento-inss" class="form-label">Detalhamento INSS</label>
                        <input type="file" class="form-control" id="detalhamento-inss" name="detalhamento_inss"
                            multiple>
                    </div>
                    <div class="col-md-6">
                        <label for="historico-consignacoes-inss" class="form-label">Histórico de
                            consignações
                            INSS</label>
                        <input type="file" class="form-control" id="historico-consignacoes-inss"
                            name="historico_consignacoes_inss" multiple>
                    </div>
                </div>
                
                <!-- Botões de Ação -->
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-save me-2"></i>Salvar Alterações</button>
                    <a href="{{ url_for('proposal.state_proposal') }}" class="btn btn-secondary"><i class="bi bi-x-circle me-2"></i>Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Script para habilitar campos -->
<script>
    function enableField(fieldId) {
        const field = document.getElementById(fieldId);
        field.disabled = false;
        field.focus();
    }
</script>


<script src="{{ url_for('static', filename='js/proposal/EditProposal.js') }}"></script>
<script src="{{ url_for('static', filename='js/proposal/removeImage.js') }}"></script>
<script src="{{ url_for('static', filename='js/proposal/putProposal.js') }}"></script>
<script src="{{ url_for('static', filename='js/proposal/SearchTables.js') }}"></script>
{% endblock %}