{% block proposalcontent %}
<br>
<div class="list-group shadow">
    <button type="button"
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        data-bs-toggle="modal" data-bs-target="#formularioModal">
        Cadastrar contrato
        <i class="fal fa-file-contract"></i>
    </button>
</div>

<div class="modal fade" id="formularioModal" tabindex="-1" aria-labelledby="formularioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formularioModalLabel">Cadastrar um contrato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="proposalForm">
                <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                    <div class="container-fluid">
                        <label for="ProposalEmprest" class="form-label"><strong>Proposta de Empréstimo:</strong></label>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="bankerProposal" class="form-label">Escolha o Banco</label>
                                <select class="form-control" id="bankerProposal" name="bankSelect" required>
                                    <option value="">Escolha...</option>
                                    {% for banker in bankers %}
                                    <option value="{{ banker.id }}">{{ banker.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="convenioSelectProposal" class="form-label">Selecione o Convênio:</label>
                                <select class="form-select" id="convenioSelectProposal" name="convenioSelectProposal" required>
                                    <option value="">Escolha...</option>
                                    {% for banker in bankers %}
                                    {% for convenio in banker.financial_agreements %}
                                    <option class="convenio-options"  data-bank-id="{{ banker.id }}" value="{{ convenio.id }}" >{{ convenio.name }}</option>
                                    {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="tableSelectProposal" class="form-label">Selecione a Tabela:</label>
                                <select class="form-select" id="tableSelectProposal" name="tableSelectProposal" required>
                                    <option value="">Escolha...</option>
                                    <!-- As opções são pré-carregadas aqui, mas serão controladas pelo JavaScript -->
                                    {% for banker in bankers %}
                                    {% for convenio in banker.financial_agreements %}
                                    {% for table in convenio.tables_finance %}
                                    <option class="table-options"  data-convenio-id="{{ convenio.id }}" value="{{ table.id }}"  >
                                        <strong>{{ table.name }}</strong> - {{ table.type_table }} - Cod: {{ table.table_code }} - Prazo Início: {{ table.start_term }} - Prazo Fim: {{ table.end_term }} - Comissão: {{ table.rate }}
                                    </option>
                                    {% endfor %}
                                    {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="OperationSelect" class="form-label">Selecione a operação</label>
                                <select class="form-select" name="operationselect" id="OperationSelect" required>
                                    <option value=""></option>
                                    <option value="abertura_conta">Abertura de conta</option>
                                    <option value="cartao_c_saque">Cartão c/saque</option>
                                    <option value="cartao_c_saque_complementar_a_vista">Cartão c/saque complementar à vista</option>
                                    <option value="cartao_c_saque_complementar_parcelado">Cartão c/saque complementar parcelado</option>
                                    <option value="cartao_c_saque_parcelado">Cartão c/saque parcelado</option>
                                    <option value="cartao_s_saque">Cartão s/saque</option>
                                    <option value="compra_divida">Compra de dívida</option>
                                    <option value="compra_divida_margem_livre">Compra de dívida + Margem Livre</option>
                                    <option value="compra_divida_refinanciamento">Compra de dívida + Refinanciamento</option>
                                    <option value="compra_divida_refin_margem_livre">Compra de dívida + Refinanciamento + Margem Livre</option>
                                    <option value="emprestimo_complementar_inss">Empréstimo complementar INSS</option>
                                    <option value="margem_livre_novo">Margem Livre (Novo)</option>
                                    <option value="margem_livre_refinanciamento">Margem Livre + Refinanciamento</option>
                                    <option value="portabilidade">Portabilidade</option>
                                    <option value="portabilidade_margem_livre">Portabilidade + Margem Livre</option>
                                    <option value="portabilidade_margem_livre_refin">Portabilidade + Margem Livre + Refin</option>
                                    <option value="portabilidade_refin">Portabilidade + Refin</option>
                                    <option value="refinanciamento">Refinanciamento</option>
                                    <option value="refinanciamento_portabilidade">Refinanciamento da Portabilidade</option>
                                    <option value="refin_portabilidade_margem_livre">Refinanciamento da Portabilidade + Margem Livre</option>
                                    <option value="refinanciamento_rec">Refinanciamento Rec</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="matricula" class="form-label">Matrícula</label>
                                <input type="text" class="form-control" id="matricula" name="matricula" required>
                            </div>
                            <div class="col-md-6">
                                <label for="password" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="ddb" class="form-label">Data de Despacho</label>
                                <input type="date" class="form-control" id="ddb" name="ddb" required>
                            </div>
                            <div class="col-md-6">
                                <label for="senha-contracheque" class="form-label">Senha do contra-cheque</label>
                                <input type="text" class="form-control" id="senhacontracheque" name="senhacontracheque" required>
                            </div>
                        </div>
                        <hr>
                        <label for="DataRegister" class="form-label"><strong>Dados Cadastrais:</strong></label>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="name" class="form-label">Nome Completo</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="ddb-year" class="form-label">Data de Nascimento</label>
                                <input type="date" class="form-control" id="ddb-year" name="ddb-year" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="sexo" class="form-label">Sexo</label>
                                <input type="text" class="form-control" id="sexo" name="sexo" required>
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="cpf" class="form-label">CPF</label>
                                <input type="number" class="form-control" id="CPF" name="CPF" required>  
                            </div>
                            <div class="col-md-6">
                                <label for="naturalidade" class="form-label">Naturalidade</label>
                                <input type="text" class="form-control" id="naturalidae" name="naturalidade" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="StateSelect" class="form-label">Selecione o estado</label>
                                <select class="form-select" name="stateselect" id="StateSelect" required>
                                    <option value=""></option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="identidade" class="form-label">Identidade</label>
                                <input type="text" class="form-control" id="identidade" name="identidade" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="OrganSend" class="form-label">Órgão Emissor</label>
                                <input type="text" class="form-control" id="OrganSend" name="orgao_emissor" required>
                            </div>
                            <div class="col-md-6">
                                <label for="StateUfSelect" class="form-label">UF Emissão</label>
                                <select class="form-select" name="StateUfSelect" id="StateUfSelect" required>
                                    <option value=""></option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="dayOmission" class="form-label">Data de emissão</label>
                                <input type="date" class="form-control" id="dayOmission" name="data_emissao" required>
                            </div>
                            <div class="col-md-6">
                                <label for="father" class="form-label">Nome do pai</label>
                                <input type="text" class="form-control" id="father" name="pai" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="mother" class="form-label">Nome do mãe</label>
                                <input type="text" class="form-control" id="mother" name="mae" required>
                            </div>
                            <div class="col-md-6">
                                <label for="zipcode" class="form-label">CEP</label>
                                <input type="text" class="form-control" id="zipcode" name="cep" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="address" class="form-label">Endereço</label>
                                <input type="text" class="form-control" id="address" name="endereco" required>
                            </div>
                            <div class="col-md-6">
                                <label for="address-number" class="form-label">Número</label>
                                <input type="text" class="form-control" id="address-number" name="numero" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="address-complement" class="form-label">Complemento</label>
                                <input type="text" class="form-control" id="address-complement" name="complemento" required>
                            </div>
                            <div class="col-md-6">
                                <label for="neighborhood" class="form-label">Bairro</label>
                                <input type="text" class="form-control" id="neighborhood" name="bairro" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="city" class="form-label">Cidade</label>
                                <input type="text" class="form-control" id="city" name="cidade" required>
                            </div>
                            <div class="col-md-6">
                                <label for="StateUfCitySelect" class="form-label">UF Cidade</label>
                                <select class="form-select" name="StateUfCitySelect" id="StateUfCitySelect" required>
                                    <option value=""></option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="value-salary" class="form-label">Valor do Salário</label>
                                <input type="number" class="form-control" id="value-salary" name="salario" required>
                            </div>
                            <div class="col-md-6">
                                <label for="phone-residential" class="form-label">Telefone Residencial</label>
                                <input type="text" class="form-control" id="phone-residential" name="telefone_residencial" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="phone-comercial" class="form-label">Telefone Comercial</label>
                                <input type="text" class="form-control" id="phone-comercial" name="telefone_comercial" required>
                            </div>
                            <div class="col-md-6">
                                <label for="phone" class="form-label">Telefone Celular</label>
                                <input type="text" class="form-control" id="phone" name="telefone_celular" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="BenefitSelect" class="form-label">Selecione o benefício</label>
                                <select class="form-select" name="benefitselect" id="BenefitSelect" required>
                                    <option value=""></option>
                                    <!-- Opções de benefício -->
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="StateBenefitUf" class="form-label">UF Emissão</label>
                                <select class="form-select" name="StateBenefitUf" id="StateBenefitUf" required>
                                    <option value=""></option>
                                    <!-- Opções de UF -->
                                </select>
                            </div>
                        </div>
                        <hr>
                        <label for="OperationBankerData" class="form-label"><h6><strong>Dados Bancários</strong></h6></label>                        
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="SelectBankerPayment" class="form-label">Tipo de pagamento</label>
                                <select class="form-select" name="SelectBankerPayment" id="SelectBankerPayment" required>
                                    <option value="credito-conta">Crédito em Conta</option>
                                    <option value="pix">Pix</option>
                                    <option value="ordempagamento">Ordem de pagamento</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="SelectBanker" class="form-label">Selecione o Banco</label>
                                <select class="form-select" name="SelectBanker" id="SelectBanker" required>
                                    <option value=""></option>
                                    <option value="206">N/A - +ÁGIL CASH</option>
                                    <option value="177">N/A - AATAPS</option>
                                    <option value="173">N/A - ABESP</option>
                                    <option value="169">N/A - ABSP</option>
                                    <option value="214">332 - ACESSO SOLUÇÕES DE PAGAMENTO S.A.</option>
                                    <option value="183">N/A - ACREDITOO</option>
                                    <option value="221">905 - ALFA FINANCEIRA</option>
                                    <option value="252">N/A - AMIGOZ</option>
                                    <option value="249">N/A - ÂNCORA SOLUÇÕES FINANCEIRAS</option>
                                    <option value="107">N/A - ASPECIR</option>
                                    <option value="174">N/A - ASSEBA</option>
                                    <option value="175">N/A - ASTEBA</option>
                                    <option value="241">N/A - AUMENTO 24</option>
                                    <option value="259">N/A - AVERBAI</option>
                                    <option value="248">N/A - AXS</option>
                                    <option value="212">N/A - BANCO A7</option>
                                    <option value="103">N/A - BANCO ABM</option>
                                    <option value="57">075 - BANCO ABN AMRO REAL</option>
                                    <option value="126">121 - BANCO AGIBANK</option>
                                    <option value="7">025 - BANCO ALFA</option>
                                    <option value="39">213 - BANCO ARBI</option>
                                    <option value="44">230 - BANCO BANDEIRANTES</option>
                                    <option value="6">024 - BANCO BANDEPE</option>
                                    <option value="9">028 - BANCO BANEB</option>
                                    <option value="10">N/A - BANCO BANERJ</option>
                                    <option value="12">N/A - BANCO BANESPA</option>
                                    <option value="16">038 - BANCO BANESTADO</option>
                                    <option value="5">021 - BANCO BANESTES</option>
                                    <option value="106">041 - BANCO BANRISUL</option>
                                    <option value="161">330 - BANCO BARI DE INVESTIMENTOS E FINANCIAMENTOS S.A.</option>
                                    <option value="115">917 - BANCO BARIGUI</option>
                                    <option value="33">N/A - BANCO BBM</option>
                                    <option value="51">740 - BANCO BCN</option>
                                    <option value="91">250 - BANCO BCV</option>
                                    <option value="27">034 - BANCO BEA</option>
                                    <option value="11">031 - BANCO BEG</option>
                                    <option value="23">048 - BANCO BEMGE</option>
                                    <option value="8">272 - BANCO BESC</option>
                                    <option value="73">N/A - BANCO BGN</option>
                                    <option value="153">N/A - BANCO BIZ CAPITAL</option>
                                    <option value="60">N/A - BANCO BMC</option>
                                    <option value="52">318 - BANCO BMG</option>
                                    <option value="148">377 - BANCO BMS</option>
                                    <option value="35">N/A - BANCO BNL DO BRASIL</option>
                                    <option value="45">237 - BANCO BRADESCO</option>
                                    <option value="114">394 - BANCO BRADESCO FINANCIAMENTOS</option>
                                    <option value="28">070 - BANCO BRB</option>
                                    <option value="188">208 - BANCO BTG PACTUAL S.A.</option>
                                    <option value="192">413 - BANCO BV S.A.</option>
                                    <option value="21">044 - BANCO BVA</option>
                                    <option value="141">336 - BANCO C6 BANK</option>
                                    <option value="50">263 - BANCO CACIQUE</option>
                                    <option value="32">104 - BANCO CAIXA ECONÔMICA FEDERAL</option>
                                    <option value="81">134 - BANCO CAPEMISA</option>
                                    <option value="63">412 - BANCO CAPITAL</option>
                                    <option value="18">040 - BANCO CARGILL</option>
                                    <option value="119">930 - BANCO CBSS</option>
                                    <option value="110">739 - BANCO CETELEM</option>
                                    <option value="78">233 - BANCO CIFRA</option>
                                    <option value="112">745 - BANCO CITIBANK</option>
                                    <option value="47">241 - BANCO CLÁSSICO</option>
                                    <option value="75">756 - BANCO COOPERATIVO DO BRASIL</option>
                                    <option value="74">748 - BANCO COOPERATIVO SICREDI</option>
                                    <option value="191">403 - BANCO CORA</option>
                                    <option value="86">N/A - BANCO CREDBOM</option>
                                    <option value="82">989 - BANCO CREDIARE</option>
                                    <option value="34">109 - BANCO CREDIBANCO</option>
                                    <option value="88">N/A - BANCO CREDISC</option>
                                    <option value="155">342 - BANCO CREDITAS</option>
                                    <option value="87">N/A - BANCO CREDPOM</option>
                                    <option value="116">N/A - BANCO CREFAZ</option>
                                    <option value="136">069 - BANCO CREFISA</option>
                                    <option value="245">N/A - BANCO CREFISA - CRÉDITO PESSOAL</option>
                                    <option value="145">133 - BANCO CRESOL</option>
                                    <option value="43">229 - BANCO CRUZEIRO DO SUL</option>
                                    <option value="2">003 - BANCO DA AMAZÔNIA</option>
                                    <option value="93">707 - BANCO DAYCOVAL</option>
                                    <option value="46">022 - BANCO DE CRÉDITO REAL DE MG</option>
                                    <option value="66">456 - BANCO DE TOKYO-MITSUBISHI BRASIL</option>
                                    <option value="261">654 - BANCO DIGIMAIS</option>
                                    <option value="239">N/A - BANCO DIGIO S.A.</option>
                                    <option value="1">001 - BANCO DO BRASIL</option>
                                    <option value="207">N/A - BANCO DO EMPREENDEDOR</option>
                                    <option value="19">N/A - BANCO DO EST DO RIO GR DO SUL</option>
                                    <option value="22">047 - BANCO DO ESTADO DE SERGIPE</option>
                                    <option value="193">026 - BANCO DO ESTADO DO ACRE S.A.</option>
                                    <option value="13">035 - BANCO DO ESTADO DO CEARÁ</option>
                                    <option value="14">N/A - BANCO DO ESTADO DO MARANHÃO</option>
                                    <option value="15">037 - BANCO DO ESTADO DO PARÁ</option>
                                    <option value="17">039 - BANCO DO ESTADO DO PIAUÍ</option>
                                    <option value="3">004 - BANCO DO NORDESTE DO BRASIL</option>
                                    <option value="233">N/A - BANCO DUAL</option>
                                    <option value="142">742 - BANCO EQUATORIAL</option>
                                    <option value="42">140 - BANCO FIBRA</option>
                                    <option value="147">626 - BANCO FICSA</option>
                                    <option value="105">N/A - BANCO GE</option>
                                    <option value="24">064 - BANCO GOLDMAN SACHS DO BRASIL</option>
                                    <option value="253">N/A - BANCO HAPN</option>
                                    <option value="198">N/A - BANCO HAPPY CONSIG</option>
                                    <option value="61">399 - BANCO HSBC</option>
                                    <option value="77">063 - BANCO IBI</option>
                                    <option value="152">012 - BANCO INBURSA S.A.</option>
                                    <option value="134">604 - BANCO INDUSTRIAL DO BRASIL S.A. (BIB)</option>
                                    <option value="99">077 - BANCO INTER</option>
                                    <option value="48">249 - BANCO INVESTCRED UNIBANCO</option>
                                    <option value="53">341 - BANCO ITAÚ</option>
                                    <option value="37">184 - BANCO ITAÚ BBA</option>
                                    <option value="95">029 - BANCO ITAÚ CONSIGNADO</option>
                                    <option value="72">652 - BANCO ITAÚ HOLDING FINANCEIRA</option>
                                    <option value="20">074 - BANCO J. SAFRA</option>
                                    <option value="31">N/A - BANCO J. SAFRA</option>
                                    <option value="260">N/A - BANCO LARCA</option>
                                    <option value="137">N/A - BANCO LECCA</option>
                                    <option value="25">065 - BANCO LEMON BANK</option>
                                    <option value="109">168 - BANCO LOSANGO</option>
                                    <option value="68">600 - BANCO LUSO BRASILEIRO</option>
                                    <option value="140">243 - BANCO MASTER</option>
                                    <option value="59">392 - BANCO MERCANTIL DE SÃO PAULO</option>
                                    <option value="58">389 - BANCO MERCANTIL DO BRASIL</option>
                                    <option value="216">746 - BANCO MODAL S.A.</option>
                                    <option value="26">066 - BANCO MORGAN STANLEY DEAN WITTER</option>
                                    <option value="246">N/A - BANCO N DIGITAL</option>
                                    <option value="139">753 - BANCO NBC BANK</option>
                                    <option value="244">N/A - BANCO NEO CRÉDITO</option>
                                    <option value="163">536 - BANCO NEON</option>
                                    <option value="36">N/A - BANCO NOSSA CAIXA</option>
                                    <option value="128">169 - BANCO OLÉ BONSUCESSO CONSIGNADO S.A.</option>
                                    <option value="41">218 - BANCO OLÉ CONSIGNADO</option>
                                    <option value="131">955 - BANCO OLE CONSIGNADO</option>
                                    <option value="157">613 - BANCO OMNI</option>
                                    <option value="38">212 - BANCO ORIGINAL</option>
                                    <option value="143">290 - BANCO PAGBANK</option>
                                    <option value="250">290 - BANCO PAGSEGURO</option>
                                    <option value="70">623 - BANCO PAN</option>
                                    <option value="49">254 - BANCO PARANÁ</option>
                                    <option value="69">611 - BANCO PAULISTA</option>
                                    <option value="265">N/A - BANCO PAYPEOPLE</option>
                                    <option value="71">643 - BANCO PINE</option>
                                    <option value="254">N/A - BANCO PIXCARD</option>
                                    <option value="30">073 - BANCO POPULAR DO BRASIL</option>
                                    <option value="154">N/A - BANCO PORTO SEGURO</option>
                                    <option value="100">N/A - BANCO PORTOCRED</option>
                                    <option value="84">N/A - BANCO POUPEX</option>
                                    <option value="200">N/A - BANCO PRATA DIGITAL</option>
                                    <option value="111">N/A - BANCO PRIVADO-OUTROS</option>
                                    <option value="197">N/A - BANCO QUERO MAIS CREDITO</option>
                                    <option value="201">N/A - BANCO QUITA BOLETOS</option>
                                    <option value="210">633 - BANCO RENDIMENTO</option>
                                    <option value="160">120 - BANCO RODOBENS</option>
                                    <option value="65">453 - BANCO RURAL</option>
                                    <option value="29">072 - BANCO RURAL MAIS</option>
                                    <option value="83">1007 - BANCO SABEMI</option>
                                    <option value="64">422 - BANCO SAFRA</option>
                                    <option value="55">033 - BANCO SANTANDER</option>
                                    <option value="56">353 - BANCO SANTANDER BRASIL</option>
                                    <option value="4">N/A - BANCO SANTANDER MERIDIONAL</option>
                                    <option value="92">N/A - BANCO SANTINVEST</option>
                                    <option value="96">N/A - BANCO SCHAHIN</option>
                                    <option value="184">081 - BANCO SEGURO SA</option>
                                    <option value="85">743 - BANCO SEMEAR</option>
                                    <option value="232">N/A - BANCO SENFF</option>
                                    <option value="132">748 - BANCO SICREDI</option>
                                    <option value="80">637 - BANCO SOFISA</option>
                                    <option value="40">215 - BANCO SUDAMERIS</option>
                                    <option value="54">215 - BANCO SUDAMERIS BRASIL</option>
                                    <option value="67">464 - BANCO SUMITOMO MITSUBISHI BRASILEIRO</option>
                                    <option value="159">082 - BANCO TOPAZIO</option>
                                    <option value="62">409 - BANCO UNIBANCO</option>
                                    <option value="123">N/A - BANCO VALOR</option>
                                    <option value="234">N/A - BANCO VCTEX</option>
                                    <option value="118">N/A - BANCO VNK</option>
                                    <option value="257">N/A - BANCO VOLKSWAGEN S.A.</option>
                                    <option value="76">655 - BANCO VOTORANTIM</option>
                                    <option value="195">348 - BANCO XP</option>
                                    <option value="127">268 - BARIGUI CIA HIPOTECÁRIA</option>
                                    <option value="243">N/A - BARU FINANCEIRA</option>
                                    <option value="208">274 - BMP MONEY PLUS</option>
                                    <option value="220">752 - BNP PARIBAS BRASIL S.A.</option>
                                    <option value="121">925 - BRB - CRÉDITO, FINANCIAMENTO E INVESTIMENTO</option>
                                    <option value="125">N/A - BV FINANCEIRA</option>
                                    <option value="162">465 - CAPITAL CONSIG SCD S.A.</option>
                                    <option value="204">N/A - CAPITAL CRED</option>
                                    <option value="180">N/A - CASEBRAS</option>
                                    <option value="181">N/A - CASPEB</option>
                                    <option value="194">112 - CC UNICRED BRASIL CENTRAL</option>
                                    <option value="97">320 - CCB BRASIL (BIC)</option>
                                    <option value="98">320 - CCB BRASIL FINANCEIRA (SUL FINANCEIRA)</option>
                                    <option value="129">321 - CCB BRASIL S.A.</option>
                                    <option value="179">N/A - CENASP</option>
                                    <option value="124">N/A - CIASPREV</option>
                                    <option value="205">N/A - COBAP</option>
                                    <option value="185">N/A - CONCÓRDIA BANCO SA</option>
                                    <option value="251">N/A - CONSÓRCIO CANOPUS</option>
                                    <option value="158">085 - COOPERATIVA CENTRAL DE CREDITO - AILOS</option>
                                    <option value="117">136 - COOPERATIVA UNICRED</option>
                                    <option value="209">921 - CREDIFAR S.A.</option>
                                    <option value="101">707 - DAYCOVAL - CRÉDITO PESSOAL</option>
                                    <option value="104">N/A - DÉBITO EM CONTA</option>
                                    <option value="258">N/A - EMBRACON ADMINISTRADORA DE CONSÓRCIOS LTDA</option>
                                    <option value="171">N/A - EMPRESTIMO SIM</option>
                                    <option value="218">N/A - ERBANK</option>
                                    <option value="151">961 - FACILITY BANK</option>
                                    <option value="120">149 - FACTA FINANCEIRA</option>
                                    <option value="150">935 - FACTA FINANCEIRA (INSS)</option>
                                    <option value="231">N/A - FGTS GOLD</option>
                                    <option value="149">359 - FINANCEIRA ZEMA</option>
                                    <option value="182">N/A - FLAMEX</option>
                                    <option value="227">N/A - FORTCARD</option>
                                    <option value="219">N/A - FOX DIGITAL</option>
                                    <option value="199">N/A - FUTURO PREVIDÊNCIA</option>
                                    <option value="236">N/A - GALERIA BANK</option>
                                    <option value="237">N/A - GOOROO CONSIGNADO</option>
                                    <option value="226">N/A - GRANAPIX</option>
                                    <option value="242">N/A - GRANDINO BANK</option>
                                    <option value="167">N/A - GSP</option>
                                    <option value="228">N/A - ICARD</option>
                                    <option value="164">N/A - ICRED FINANCEIRA</option>
                                    <option value="247">N/A - IGREEN</option>
                                    <option value="215">N/A - INFO SEARCH</option>
                                    <option value="168">N/A - INSTITUTO AMPARA</option>
                                    <option value="113">N/A - JB CRED</option>
                                    <option value="235">N/A - KARDBANK</option>
                                    <option value="211">076 - KDB DO BRASIL S.A.</option>
                                    <option value="262">N/A - KOVR SEGURADORA</option>
                                    <option value="225">N/A - LOTUS</option>
                                    <option value="165">N/A - MAG SEGUROS</option>
                                    <option value="122">N/A - MBM SEGURADORA</option>
                                    <option value="190">323 - MERCADO PAGO</option>
                                    <option value="186">N/A - MEU CASHCARD</option>
                                    <option value="170">N/A - NASP</option>
                                    <option value="263">N/A - NIO DIGITAL</option>
                                    <option value="144">N/A - NOVO SAQUE FINANCEIRA</option>
                                    <option value="146">260 - NUBANK</option>
                                    <option value="230">N/A - NUMCLICK ASSISTÊNCIAS</option>
                                    <option value="89">132 - OUTROS</option>
                                    <option value="135">N/A - PAGJA</option>
                                    <option value="156">908 - PARATI - CREDITO, FINANCIAMENTO E INVESTIMENTO</option>
                                    <option value="94">N/A - PARCEIROS</option>
                                    <option value="176">380 - PICPAY SERVIÇOS S.A.</option>
                                    <option value="166">N/A - PREVIMIL VIDA E PREVIDÊNCIA S/A</option>
                                    <option value="178">N/A - PREVIPLAN</option>
                                    <option value="187">329 - QI SOCIEDADE DE CRÉDITO DIRETO S.A.</option>
                                    <option value="172">N/A - RED BANK</option>
                                    <option value="222">N/A - SANTANDER FVE</option>
                                    <option value="202">N/A - SEGUROS SURA S/A</option>
                                    <option value="90">756 - SICOOB</option>
                                    <option value="238">N/A - SIMPALA FINANCEIRA</option>
                                    <option value="196">366 - SOCIETE GENERALE BRASIL S.A.</option>
                                    <option value="255">N/A - SOS BOLSO</option>
                                    <option value="189">197 - STONE PAGAMENTOS S.A.</option>
                                    <option value="240">N/A - TAYA FINANCEIRA</option>
                                    <option value="217">N/A - TEGGE</option>
                                    <option value="264">N/A - TO SALVO</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="receivedCardBenefit" name="receivedCardBenefit" placeholder="Recebeu Benefício do Cartão" required>
                            </div>
                        </div>
                        <div class="row mb-3" id="pixInputs" style="display: none;">
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="bank" name="bank" placeholder="Agencia Banco" required>
                            </div>
                            <br>
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="pixKeyType" name="pixKeyType" placeholder="Tipo de Chave Pix" required>
                            </div>
                        </div>
                        <div class="row mb-3" id="creditAccountInputs" style="display: none;" required>
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="agency" name="agency" placeholder="Agência" required>
                            </div>
                            <br>
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="agencyDV" name="agencyDV" placeholder="DV-Agência" required>
                            </div>
                            <br>
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="account" name="account" placeholder="Conta" required>
                            </div>
                            <br>
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="accountDV" name="accountDV" placeholder="DV" required>
                            </div> 
                            <br>
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="accountType" name="accountType" placeholder="Tipo de Conta" required>
                            </div>
                        </div>
                        <div class="row mb-3" id="orderPaymentInputs" style="display: none;">
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="agencyOP" name="agencyOP" placeholder="Agência" required>
                            </div>
                            <br>
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="agencyDVOP" name="agencyDVOP" placeholder="DV-Agência" required>
                            </div>
                        </div>
                        <hr>
                        <label for="DataOperation" class="form-label"><strong>Dados da Operação:</strong></label>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="margemUtilizada" class="form-label">Margem utilizada</label>
                                <input class="form-control" type="number" id="margem" name="margem" placeholder="Margem Utilizada" required>
                            </div>
                            <div class="col-md-6">
                                <label for="ParcelaSelect" class="form-label">Parcela</label>
                                <input class="form-control" type="text" id="parcela" name="parcela" placeholder="Parcela Selecionado" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="PrazoSelect" class="form-label">Prazo</label>
                                <input class="form-control" type="text" id="prazo" name="prazo" placeholder="Prazor Selecionado" required>
                            </div>
                            <div class="col-md-6">
                                <label for="ValueOperation" class="form-label">Valor Operação</label>
                                <input class="form-control" type="text" id="valueoperation" name="valor_operacao" placeholder="Valor de operação" required>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-3">
                            <label for="ReportDocs" class="form-label"><strong>Importação de documento:</strong></label>
                            <div class="col-md-6">
                                <label for="rg-cnh-completo" class="form-label">RG/CNH - COMPLETO</label> <!--Frente e verso-->
                                <input type="file" class="form-control" id="rg-cnh-completo" name="rg_cnh_completo[]" multiple>
                            </div>
                            <div class="col-md-6">
                                <label for="contracheque" class="form-label">Contracheque</label>
                                <input type="file" class="form-control" id="contracheque" name="contracheque[]" multiple>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="extrato-consignacoes" class="form-label">Extrato de consignações</label>
                                <input type="file" class="form-control" id="extrato-consignacoes" name="extrato_consignacoes[]" multiple>
                            </div>
                            <div class="col-md-6">
                                <label for="comprovante-residencia" class="form-label">Comprovante residencial</label>
                                <input type="file" class="form-control" id="comprovante-residencia" name="comprovante_residencia[]" multiple>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="selfie" class="form-label">Sefie</label>
                                <input type="file" class="form-control" id="selfie" name="selfie[]" multiple>
                            </div>
                            <div class="col-md-6">
                                <label for="comprovante-bancario" class="form-label">Comprovante Bancário</label>
                                <input type="file" class="form-control" id="comprovante-bancario" name="comprovante_bancario[]" multiple>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="detalhamento-inss" class="form-label">Detalhamento INSS</label>
                                <input type="file" class="form-control" id="detalhamento-inss" name="detalhamento_inss[]" multiple>
                            </div>
                            <div class="col-md-6">
                                <label for="historico-consignacoes-inss" class="form-label">Histórico de consignações INSS</label>
                                <input type="file" class="form-control" id="historico-consignacoes-inss" name="historico_consignacoes_inss[]" multiple>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="observacoes" class="form-label">Observações</label> <!--Observações -->
                                <textarea class="form-control" id="observacoes" name="observacoes" rows="4" placeholder="Digite suas observações aqui..." required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='css/proposal/proposal.css') }}"></script>
<script src="{{ url_for('static', filename='js/proposal/ToggleTable.js') }}"></script>
<script src="{{ url_for('static', filename='js/proposal/InputsPaymentsAccounts.js') }}"></script>
<script src="{{ url_for('static', filename='js/proposal/SendNewProposal.js') }}"></script>
{% endblock %}