{% extends 'base.html' %}

{% block proposaltables %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Corretor</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Operação</th>
            <th>Banco</th>
            <th>Órgão</th>
            <th>Valor da Operação</th>
        </tr>
    </thead>
    <tbody>
        {% for proposal in proposals %}
        <tr>
            <td>{{ proposal.creator.username }}</td>
            <td>{{ proposal.name_and_lastname }}</td>
            <td>{{ proposal.cpf }}</td>
            <td>{{ proposal.operation_select }}</td>
            <td>{{ proposal.banker.name }}</td>
            <td>{{ proposal.financial_agreement.name }}</td>
            <td>{{ proposal.value_operation }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item {{ 'disabled' if not pagination.has_prev else '' }}">
            <a class="page-link" href="{{ url_for('proposal.get_status_proposal', page=pagination.prev_num) }}">Anterior</a>
        </li>
        {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        <li class="page-item {{ 'active' if page_num == pagination.page else '' }}">
            <a class="page-link" href="{{ url_for('proposal.get_status_proposal', page=page_num) }}">{{ page_num }}</a>
        </li>
        {% endfor %}
        <li class="page-item {{ 'disabled' if not pagination.has_next else '' }}">
            <a class="page-link" href="{{ url_for('proposal.get_status_proposal', page=pagination.next_num) }}">Próximo</a>
        </li>
    </ul>
</nav>
<div class="container mt-4">
    <h1>Status das Propostas</h1>
    <div id="proposalTableContainer">
        <!-- A tabela será carregada aqui pelo JavaScript -->
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const container = document.getElementById('proposalTableContainer');
    
        function loadTableData(pageUrl) {
            fetch(pageUrl, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    attachEventToPaginationLinks();
                })
                .catch(error => console.error('Error loading the data:', error));
        }
    
        function attachEventToPaginationLinks() {
            document.querySelectorAll('#proposalTableContainer .pagination a').forEach(link => {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    loadTableData(this.href);
                });
            });
        }
    
        attachEventToPaginationLinks();  // Attach event listeners on initial page load
    });
</script>    
{% endblock %}