{% block hourpoint %}
<div class="modal fade" id="registroPontoModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Registro de Ponto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="registroPontoForm" method="POST">
          <div class="mb-3">
            <label for="dataHora" class="form-label">Data e Hora</label>
            <input type="datetime-local" class="form-control" id="dataHora" name="day_hour" required>
          </div>
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-control" id="tipo" name="type">
              <option value="entrada">Entrada</option>
              <option value="saida">Saída</option>
              <option value="intervalo">Intervalo</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick="submitForm()">Salvar Registro</button>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/point/SendFetchPoint.js') }}"></script>
{% endblock %}