.convenio-item {
    background-color: #ACABAB;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.delete-icon {
    cursor: pointer;
}
.list-group-item {
    cursor: pointer;
    margin-bottom: 5px;
}
.list-group-item .fa-trash {
    color: #dc3545;
    cursor: pointer;
}
.nested-list {
    margin-top: 10px;
    margin-left: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}
.list-group-item strong {
    display: block;
    color: #0056b3;
}
.details {
    font-size: 0.85em;
    color: #666;
    margin-top: 5px;
}
.shadow {
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
}
.list-group-item-action:hover {
    background-color: #f0f0f0;
}